openapi: 3.0.3
info:
  title: Тили-тили API
  version: 0.37.0
  description: |
    Контракт бэкенда для PWA «Тили-тили» (tili-tili.ru) — свадебный планировщик.
    Фронтенд (React) уже работает на моках; этот файл — единственный источник правды для бэкенда (Claude Code).

    ## Решения владельца 2026-09-02 (контракт v0.2)
    - Деньги — объект `{ amount: копейки, currency: ISO 4217 }` у КАЖДОЙ суммы.
      Не одна валюта на свадьбу: план §19.7 описывает свадьбу за границей, где
      сделка в евро, а бюджет в рублях. В MVP принимается только RUB.
    - У слота нет собственного статуса. Слот либо пуст, либо несёт сделку;
      состояние живёт в `Deal.state` — шесть значений. `Slot.tileState` —
      производная подпись для мозаики, только для чтения.
    - Гость опознаётся ОДНИМ персональным токеном во всех гостевых путях
      (`/rsvp/{guestToken}`, `/gifts/{guestToken}`, `/join/{guestToken}/…`).
      Общий код свадьбы не годится: по нему нельзя подставить имя в приглашение
      и нельзя дать гостю снять СВОЙ резерв подарка. Анонимность сохраняется —
      система знает гостя, а API пары этот токен не отдаёт никогда (§9).
    - Переноса данных с localStorage-моков не будет: реальных пользователей не
      было, эндпоинт импорта не заводится.

    ## Роли
    - `couple` — молодожёны (владельцы свадьбы): полный доступ.
    - `helper` — помощник (друг/родственник): орг-разделы, без бюджета и сделок.
    - `coordinator` — координатор: командует днём X (тайминг, чаты подрядчиков), без бюджета и оплат.
    - `vendor` — подрядчик: свои сделки, лиды, чаты, анкета.
    - `guest` — гость: только RSVP по ссылке приглашения.

    ## Принципы
    - Все даты — ISO 8601 (`2027-06-14`), дата-время — UTC RFC 3339.
    - Деньги — integer в **копейках** (минорных единицах) + код валюты ISO 4217.
      Решение владельца 2026-09-02. Пример: 85 000 ₽ = `{ "amount": 8500000, "currency": "RUB" }`.
      Дробных сумм в JSON не бывает; показ рублей — задача клиента.
    - Пагинация: `?limit=20&cursor=...` → `{ items, nextCursor }`.
    - Живые обновления — WebSocket `wss://…/ws?token=<access>`. События: `message.created`,
      `deal.state_changed`, `timeline.shifted`, `seating.updated`, `menu.poll.updated`,
      `notification.created`. Клиент без WebSocket опрашивает REST раз в 30 с (§13.4).
      OpenAPI 3.0 не описывает WS-каналы — контракт событий ведётся здесь.
    - Ошибки: `{ "error": { "code": "string", "message": "string" } }`.
    - Идемпотентность мутаций оплаты/брони — через `Idempotency-Key` header.
servers:
  - url: https://api.tili-tili.ru/v1
  - url: http://localhost:8080/v1
tags:
  - name: auth
  - name: weddings
  - name: invites
  - name: geo
  - name: catalog
  - name: bookings
  - name: budget
  - name: guests
  - name: tasks
  - name: chats
  - name: vendor
  - name: notifications

paths:
  # ───────────────────────── AUTH ─────────────────────────
  /auth/otp:
    post:
      tags: [auth]
      security: []
      summary: Запросить код из SMS
      description: |
        Регистрация и вход — один и тот же шаг: аккаунт заводится при первой
        успешной проверке кода. Пароля в продукте нет (экран /auth во фронте).
        Ответ одинаков и для нового, и для известного номера — иначе по нему
        можно перебором узнать, зарегистрирован ли человек.

        Лимиты выдачи кода (фича 005): по паре «номер + адрес» — 3 в час, по
        номеру — 10 в час и 30 в сутки, по адресу — как прежде. Каждый 429
        несёт `Retry-After` в секундах. Чужой номер пятью запросами больше
        не закрыть: посторонний с одного адреса упирается в свой лимит, а
        владелец номера с другого адреса код получает.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone: { type: string, example: '+79171234567', description: 'E.164; на фронте вводятся 10 цифр после +7' }
      responses:
        '200':
          description: Код отправлен
          content:
            application/json:
              schema:
                type: object
                required: [expiresIn, resendAfter]
                properties:
                  expiresIn: { type: integer, example: 300, description: сколько секунд код действителен }
                  resendAfter: { type: integer, example: 60, description: через сколько секунд можно запросить повторно }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '502': { description: 'SMS-провайдер не ответил или отказал — код не отправлен (sms_failed)' }
  /auth/otp/verify:
    post:
      tags: [auth]
      security: []
      summary: Обменять код на токены
      description: |
        Аккаунт, удалённый через `DELETE /users/me` не больше 30 дней назад,
        при входе тем же номером восстанавливается: `deleted_at` снимается,
        в журнал аудита пишется `user.restored`, данные на месте. Отозванное
        при удалении согласие даётся заново — ответ несёт `consentRequired`
        как у нового аккаунта. Старше 30 дней строка уже стёрта уборкой, и
        вход заводит новый аккаунт (фича 005, В2).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, code]
              properties:
                phone: { type: string, example: '+79171234567' }
                code: { type: string, example: '4821' }
                device: { type: string, example: 'iPhone · Safari', description: подпись для экрана «Сессии и устройства» }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthTokens' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /auth/refresh:
    post:
      tags: [auth]
      security: []
      summary: Обновление access-token
      description: |
        Refresh одноразовый: при обмене старый гасится, выдаётся новый.
        Повторное предъявление уже погашенного — признак кражи, и тогда
        гасятся ВСЕ сессии пользователя.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties: { refreshToken: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthTokens' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /auth/oauth/{provider}:
    get:
      tags: [auth]
      summary: OAuth-вход (VK, Yandex, Google, Telegram)
      parameters:
        - name: provider
          in: path
          required: true
          schema: { type: string, enum: [vk, yandex, google, telegram] }
      security: []
      responses:
        '302': { description: Редирект на провайдера }
        '501': { $ref: '#/components/responses/NotConfigured' }

  # ───────────────────────── WEDDINGS ─────────────────────────
  /weddings:
    get:
      tags: [weddings]
      summary: Мои свадьбы
      description: |
        Единственный способ найти свою свадьбу после переустановки приложения:
        идентификатор хранится только на устройстве, и с чистым localStorage
        восстановить его больше неоткуда. Отдаёт и те свадьбы, куда человека
        позвали помощником или координатором, — с его ролью в каждой.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/Wedding'
                    - type: object
                      properties:
                        role: { type: string, enum: [couple, helper, coordinator, vendor] }
    post:
      tags: [weddings]
      summary: Создать свадьбу (после квиза)
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [partnerName, city]
              properties:
                partnerName: { type: string, example: Тимур }
                date: { type: string, format: date, example: '2027-06-14' }
                city: { $ref: '#/components/schemas/CityRef' }
                budgetTotal: { $ref: '#/components/schemas/Money' }  # example: 1500000
                guestsPlanned: { type: integer, example: 80 }
                style: { type: string, example: нежная классика }
                quizAnswers:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Свадьба создана; создатель — `couple`
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Wedding' }
        '409':
          description: |
            `wedding_exists` — у пары уже есть живая свадьба (не отменена и
            не в архиве); вторая заводится только после её отмены или
            завершения. Тело ошибки несёт `weddingId` существующей в `details`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /weddings/{weddingId}:
    get:
      tags: [weddings]
      summary: Карточка свадьбы (данные для Home)
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Wedding' }
    patch:
      tags: [weddings]
      summary: Обновить (дата, город, бюджет, стиль)
      description: |
        Правка `date` — это ПЕРЕНОС: она проходит тот же путь, что
        `POST /weddings/{weddingId}/reschedule`, и тянет за собой занятость
        в календарях подрядчиков, сроки задач чек-листа, время блоков тайминга
        и час открытия чата дня X. Если кто-то из забронированной команды занят
        на новую дату — 409 `team_busy`, и не меняется ничего.

        Дата свадьбы принимается в диапазоне «год назад … пять лет вперёд»
        (решение владельца 2026-09-03); за его пределами — 422
        `date_out_of_range`. Несуществующий день вроде 30 февраля — 422 `bad_date`.
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                date: { type: string, format: date }
                city: { $ref: '#/components/schemas/CityRef' }
                budgetTotal: { $ref: '#/components/schemas/Money' }
                guestsPlanned: { type: integer }
                style: { type: string }
                venue: { type: string, maxLength: 200 }
                tz: { type: string, maxLength: 64, description: 'явный пояс важнее пояса города' }
                inviteText: { type: string, maxLength: 2000, description: 'обращение пары в приглашении — его видит гость' }
                inviteThemeId:
                  type: integer
                  minimum: 0
                  maximum: 9
                  description: |
                    Сценарий оформления приглашения. Хранится у свадьбы, а не в
                    браузере пары: гость открывает приглашение со своего
                    устройства, и тема должна приехать к нему вместе с текстом.
                dressCode:
                  type: string
                  nullable: true
                  maxLength: 32
                  description: 'идентификатор палитры дресс-кода (План ч. 295) — по той же причине, что и тема; null — снять дресс-код'
                dressNote: { type: string, nullable: true, maxLength: 300, description: 'пожелание словами: «дамы — без белого»; null — убрать пожелание' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Wedding' }
        '409': { $ref: '#/components/responses/Conflict' }
  /weddings/{weddingId}/members:
    get:
      tags: [weddings]
      summary: Команда свадьбы
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Member' }
  /weddings/{weddingId}/members/{userId}:
    patch:
      tags: [weddings]
      summary: Сменить роль участника (только couple)
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: userId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role: { type: string, enum: [couple, helper, coordinator] }
      responses:
        '200': { description: OK }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      tags: [weddings]
      summary: Удалить участника
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: userId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Удалён }
        '409': { $ref: '#/components/responses/Conflict' }

  # ───────────────────────── INVITES (команда) ─────────────────────────
  /weddings/{weddingId}/invites:
    post:
      tags: [invites]
      summary: Создать одноразовую ссылку-приглашение (7 дней)
      description: Фронт рисует QR по `url`. Код — человекочитаемый (ПАРА-XXXX, ДРУГ-XXXX, ПОДР-XXXX).
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role: { type: string, enum: [couple, helper, coordinator, vendor] }
                label: { type: string, example: 'Для Тимура' }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InviteLink' }
    get:
      tags: [invites]
      summary: Активные приглашения
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/InviteLink' }
  /invites/{code}:
    get:
      tags: [invites]
      summary: Просмотр приглашения (экран /join/:code)
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string, example: ДРУГ-7F3K }
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code: { type: string }
                  role: { type: string, enum: [couple, helper, coordinator, vendor] }
                  weddingTitle: { type: string, example: 'Алина ♥ Тимур' }
                  inviterName: { type: string }
                  expiresAt: { type: string, format: date-time }
        '410': { description: Истёк или отозван }
    delete:
      tags: [invites]
      summary: Отозвать приглашение
      security: [{ bearerAuth: [] }]
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Отозвано }
  /invites/{code}/accept:
    post:
      tags: [invites]
      summary: Принять приглашение (после регистрации/входа)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Присоединён к свадьбе
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Member' }
        '410': { description: Истёк/отозван/уже использован }
        '409': { $ref: '#/components/responses/Conflict' }

  # ───────────────────────── GEO ─────────────────────────
  /health:
    get:
      tags: [health]
      security: []
      summary: Жив ли процесс
      description: |
        Отвечает 200, пока процесс работает, и не ходит ни в базу, ни в Redis.
        По нему перезапускают контейнер. Ронять его из-за упавшей базы нельзя:
        приложение уйдёт в цикл перезапусков и не поднимется, когда база
        вернётся (RUNBOOK §1).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  uptime: { type: integer, description: 'секунд с запуска процесса' }

  /health/ready:
    get:
      tags: [health]
      security: []
      summary: Готов ли принимать трафик
      description: |
        503, если недоступна база или Redis — по нему балансировщик выводит
        машину из ротации. В теле видно, что именно упало.
      responses:
        '200':
          description: Готов
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Readiness' }
        '503':
          description: Не готов
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Readiness' }

  /legal/policy:
    get:
      tags: [legal]
      security: []
      summary: Действующая редакция оферты и политики
      description: |
        Отдаёт редакцию, под которой сервер сейчас принимает согласие.

        Без этого пути клиент обязан прислать `policyVersion` в
        `POST /users/me/consent`, а взять её ему негде: в контракте она
        встречалась ровно один раз — в теле запроса. Сервер сверяет
        присланное со своим значением и отказывает при расхождении, то есть
        единственным способом узнать редакцию было прислать неверную
        и разобрать текст ошибки.

        Цена отсутствия — не неудобство: смена текста политики поднимает
        `POLICY_VERSION`, развёрнутый фронт продолжает слать старую
        константу, согласие перестаёт приниматься, а без согласия закрыто
        всё (`requireConsent`). Ни один новый пользователь не завершает
        регистрацию, пока не выкатят фронт. Юридическое действие ломало
        вход (ERR-0114).

        Без входа намеренно: галочка согласия стоит на экране ДО того,
        как человек получил токены.

        Сам текст оферты и политики живёт в приложении — сервер отдаёт
        только редакцию, потому что только её он и проверяет.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [policyVersion]
                properties:
                  policyVersion:
                    type: string
                    example: '2026-09-02'
                    description: 'Значение, которое ждёт POST /users/me/consent'

  /geo/cities:
    get:
      tags: [geo]
      summary: Поиск городов (автокомплит CityPicker)
      description: |
        Источник — Яндекс Геокодер (`geocode-maps.yandex.ru/1.x/?kind=locality`) + собственная таблица райцентров.
        Поиск prefix-first, ё→е, минимум 2 символа. Ответ отсортирован: точный префикс → население.
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string, minLength: 2, example: сиб }
        - name: limit
          in: query
          schema: { type: integer, default: 12, maximum: 50 }
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/City' }
  /geo/nearest:
    get:
      tags: [geo]
      summary: Ближайший город по координатам (кнопка геолокации)
      parameters:
        - name: lat
          in: query
          required: true
          schema: { type: number, example: 54.7351 }
        - name: lon
          in: query
          required: true
          schema: { type: number, example: 55.9587 }
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/City' }

  # ───────────────────────── CATALOG ─────────────────────────
  /catalog/categories:
    get:
      tags: [catalog]
      summary: Категории подрядчиков (площадки, фото, декор…)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Category' }
  /catalog/vendors:
    get:
      tags: [catalog]
      summary: Каталог подрядчиков с фильтрами
      parameters:
        - name: q
          in: query
          schema: { type: string }
        - name: categoryId
          in: query
          schema: { type: string }
        - name: city
          in: query
          schema: { type: string, example: Уфа }
        - name: radiusKm
          in: query
          description: |
            Радиус выдачи в километрах от центра города `city` (координаты
            справочника городов, гаверсинус). 0 — только точное совпадение
            города; без параметра — 100 (фича 011: экран показывает и меняет
            его — «только город» · 50 · 100 · 300). У городов без координат
            радиус не считается — выдача по точному совпадению названия, и
            анкета из такого города попадает в чужую выдачу только по имени.
          schema: { type: integer, minimum: 0, maximum: 1000, default: 100 }
        - name: priceMin
          in: query
          description: Нижняя граница «цены от», в копейках.
          schema: { type: integer, minimum: 0 }
        - name: priceMax
          in: query
          schema: { type: integer, minimum: 0 }
        - name: date
          in: query
          description: |
            Дата свадьбы. Подрядчики, у которых она занята, из выдачи исчезают —
            иначе пара пишет тому, кто заведомо не сможет.
          schema: { type: string, format: date, example: '2027-06-14' }
        - name: ratingMin
          in: query
          schema: { type: number, minimum: 0, maximum: 5 }
        - name: hasVideo
          in: query
          description: Только анкеты с видео в портфолио.
          schema: { type: boolean }
        - name: sort
          in: query
          schema: { type: string, enum: [rating, price_asc, price_desc, popular], default: rating }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VendorPage' }
        '400': { description: 'Курсор от другой сортировки (bad_cursor) — начать листать заново' }
  /catalog/vendors/{vendorId}:
    get:
      tags: [catalog]
      summary: Анкета подрядчика
      description: |
        Опубликованная анкета — любому вошедшему. Свою анкету владелец видит и
        НЕопубликованной (и заблокированной) — так он смотрит её «глазами пары»
        до публикации (фича 007); в ответе владельцу есть `published`/`blocked`.
        Чужая неопубликованная — 404, как и раньше: по адресу нельзя узнать,
        существует ли черновик.
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VendorDetail' }
        '404': { $ref: '#/components/responses/NotFound' }
  /catalog/vendors/{vendorId}/availability:
    get:
      tags: [catalog]
      summary: Занятость дат (для выбора даты брони)
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
        - name: month
          in: query
          schema: { type: string, example: '2027-06' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  busyDates:
                    type: array
                    items: { type: string, format: date }
                  holdDates:
                    type: array
                    items: { type: string, format: date }
        '404': { $ref: '#/components/responses/NotFound' }

  # ───────────────────────── FAVORITES ─────────────────────────
  /me/favorites:
    get:
      tags: [catalog]
      summary: Избранное пользователя
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Vendor' }
  /me/favorites/{vendorId}:
    put:
      tags: [catalog]
      summary: Добавить в избранное
      security: [{ bearerAuth: [] }]
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: OK }
    delete:
      tags: [catalog]
      summary: Убрать из избранного
      security: [{ bearerAuth: [] }]
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: OK }

  # ───────────────────────── BOOKINGS / SLOTS ─────────────────────────
  /weddings/{weddingId}/notes:
    get:
      tags: [wedding]
      summary: Заметки и идеи свадьбы
      description: |
        Заметки жили в `localStorage` одного телефона (фича 014, блокер №7 — решение
        владельца): теперь — на сервере, у свадьбы, свежие первыми. Видит и пишет вся
        команда свадьбы (пара, помощник, координатор): идеи — общее поле, как чат команды.
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Note' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [wedding]
      summary: Добавить заметку
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, minLength: 1, maxLength: 2000 }
      responses:
        '201':
          description: Добавлена
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Note' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Validation' }
  /weddings/{weddingId}/notes/{noteId}:
    delete:
      tags: [wedding]
      summary: Удалить заметку
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: noteId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Удалена }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /weddings/{weddingId}/slots:
    get:
      tags: [bookings]
      summary: "Слоты команды: 12 из шаблона (площадка, фото, видео, ведущий, декор, торт, музыка, платье, костюм, образ, транспорт, координатор) плюс добавленные парой"
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Slot' }
    post:
      tags: [bookings]
      summary: Добавить слот категории в мозаику
      description: |
        Каталог знает 35 категорий, шаблон мозаики — 12: подрядчика из категории
        вне шаблона (аниматор, фейерверк, фотобудка…) было некуда забронировать
        (фича 014, хвост этапа 6). Слот заводится пустым, подпись — название
        категории, ставится в конец мозаики; дальше — обычная бронь
        `POST …/slots/{slotId}/book`. Слот той же категории уже есть — 409
        `slot_exists` с его идентификатором в `details.slotId`: второй слот одной
        категории мозаике не нужен, пара бронирует в существующий. Неизвестная
        категория — 422. Заводит пара; помощник и координатор — 403 (состав
        команды решает пара, как и бронь).
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [categoryId]
              properties:
                categoryId: { type: string, maxLength: 40 }
      responses:
        '201':
          description: Слот добавлен
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Slot' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409':
          description: '`slot_exists` — слот этой категории уже есть; `details.slotId` — какой'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/Validation' }
  /weddings/{weddingId}/slots/{slotId}/book:
    post:
      tags: [bookings]
      summary: Забронировать подрядчика в слот («Добавить в свадьбу»)
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: slotId
          in: path
          required: true
          schema: { type: string }
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string, maxLength: 200 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vendorId, price]
              properties:
                vendorId: { type: string }
                packageId: { type: string }
                price: { $ref: '#/components/schemas/Money' }  # example: 150000
      responses:
        '200':
          description: Слот заполнен; бюджет пересчитывается на бэкенде
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Slot' }
        '409': { description: Слот уже занят }
        '422': { $ref: '#/components/responses/Validation' }
  /weddings/{weddingId}/slots/{slotId}/cancel:
    post:
      tags: [bookings]
      summary: Отменить бронь (слот → free, бюджет минус)
      description: |
        Идемпотентно по `Idempotency-Key`, как бронь и оплата: отмена освобождает
        дату у подрядчика и рассылает уведомления, повтор на плохой связи не
        должен делать этого дважды. Сервер требовал заголовок с этапа 4, а
        контракт его не называл (класс ERR-0038) — выправлено в v0.24.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: slotId
          in: path
          required: true
          schema: { type: string }
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string, maxLength: 128 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Slot' }
        '409': { $ref: '#/components/responses/Conflict' }
  /weddings/{weddingId}/slots/{slotId}/pay:
    post:
      tags: [bookings]
      summary: Оплата слота (доплата/полная)
      description: |
        Идемпотентно по `Idempotency-Key`. Статус → «Оплачено полностью».
        Эквайринга в MVP нет (План §3.2): запись в `payments` фиксирует факт,
        деньги ходят между парой и подрядчиком напрямую.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: slotId
          in: path
          required: true
          schema: { type: string }
        - name: Idempotency-Key
          in: header
          required: true
          description: |
            Ключ повтора. Без него повторное нажатие «Оплатить» на плохой связи
            заводит вторую запись об оплате.
          schema: { type: string, maxLength: 200 }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount: { $ref: '#/components/schemas/Money' }  # description: 'пусто = полная сумма'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Slot' }
        '409': { $ref: '#/components/responses/Conflict' }

  # ───────────────────────── BUDGET ─────────────────────────
  /weddings/{weddingId}/budget:
    get:
      tags: [budget]
      summary: Бюджет (статьи + автосуммы из слотов)
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Budget' }
  /weddings/{weddingId}/budget/items:
    post:
      tags: [budget]
      summary: Своя статья расхода
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, amount, categoryId]
              properties:
                title: { type: string }
                amount: { $ref: '#/components/schemas/Money' }
                categoryId: { type: string }
      responses:
        '201':
          description: Создана
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BudgetItem' }
  /weddings/{weddingId}/budget/items/{itemId}:
    delete:
      tags: [budget]
      summary: Удалить свою статью (×-кнопка)
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: itemId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Удалена }

  # ───────────────────────── GUESTS ─────────────────────────
  /weddings/{weddingId}/guests:
    get:
      tags: [guests]
      summary: Список гостей
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Guest' }
    post:
      tags: [guests]
      summary: Добавить гостя
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                plusOne: { type: boolean, default: false }
                group: { type: string, example: 'Родня невесты' }
                phone: { type: string, maxLength: 32, description: 'для напоминаний по SMS (POST …/guests/remind)' }
      responses:
        '201':
          description: Создан
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Guest' }
  /weddings/{weddingId}/guests/{guestId}:
    patch:
      tags: [guests]
      summary: Обновить гостя (статус RSVP циклом yes→no→pending)
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: guestId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                plusOne: { type: boolean }
                status: { type: string, enum: [yes, no, pending] }
                tableId: { type: string, nullable: true }
                group: { type: string, nullable: true }
                phone: { type: string, nullable: true, maxLength: 32, description: 'null — стереть номер' }
                diet: { type: string, nullable: true, enum: [null, vegetarian, vegan, halal, kosher, gluten_free, other] }
                dietNote: { type: string, nullable: true, maxLength: 300 }
                transfer: { type: string, nullable: true, enum: [null, need, own] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Guest' }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      tags: [guests]
      summary: Удалить гостя
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: guestId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Удалён }
  /weddings/{weddingId}/tables:
    get:
      tags: [guests]
      summary: Рассадка (столы + гости)
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Table' }
    post:
      tags: [guests]
      summary: Добавить стол
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, example: 'Стол 7' }
                capacity: { type: integer, default: 8 }
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Table' }

  /weddings/{weddingId}/tables/{tableId}:
    patch:
      tags: [guests]
      summary: Переименовать стол или изменить вместимость
      description: |
        До фичи 005 стол нельзя было ни переименовать, ни убрать — промах по
        «Добавить стол» оставался навсегда. Вместимость меньше числа уже
        посаженных — 409 `table_full`.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: tableId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, maxLength: 60 }
                capacity: { type: integer, minimum: 1, maximum: 50 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Table' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Validation' }
    delete:
      tags: [guests]
      summary: Удалить стол
      description: 'Гости стола остаются в списке без стола (tableId становится null).'
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: tableId, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: Удалён }
        '404': { $ref: '#/components/responses/NotFound' }

  # ───────────────────────── GUEST RSVP (публично) ─────────────────────────
  /rsvp/{guestToken}:
    get:
      tags: [guests]
      summary: Публичная страница гостя (из ссылки в приглашении)
      parameters:
        - name: guestToken
          in: path
          required: true
          schema: { type: string }
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  guestName: { type: string }
                  wedding: { $ref: '#/components/schemas/WeddingPublic' }
                  status: { type: string, enum: [yes, no, pending] }
                  # Свой ответ целиком: гость видит, что уже сказал (v0.25 —
                  # аудит, блок 5). Без этого форма после «приду» не могла
                  # показать ни +1, ни еду, ни трансфер, которые он выбрал.
                  plusOne: { type: boolean }
                  diet: { type: string, nullable: true, enum: [null, vegetarian, vegan, halal, kosher, gluten_free, other] }
                  dietNote: { type: string, nullable: true }
                  transfer: { type: string, nullable: true, enum: [null, need, own] }
    post:
      tags: [guests]
      summary: Ответ гостя (RSVP)
      parameters:
        - name: guestToken
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [yes, no] }
                plusOne: { type: boolean }
                comment: { type: string }
                diet: { type: string, nullable: true, enum: [null, vegetarian, vegan, halal, kosher, gluten_free, other] }
                dietNote: { type: string, maxLength: 300 }
                transfer: { type: string, enum: [need, own] }
      security: []
      responses:
        '200': { description: Принято }

  /weddings/{weddingId}/guests/import:
    post:
      tags: [guests]
      summary: Завести гостей списком
      description: |
        Пара вставляет список из заметок или таблицы; экран разбирает строки
        (имя, телефон, «+1») и показывает предпросмотр, сервер принимает уже
        разобранные строки и заводит их одной транзакцией (фича 008, План
        §20.1 экран 29). Дубликаты пропускаются, а не обновляются: совпадение
        имени (без учёта регистра и лишних пробелов) или телефона с уже
        существующим гостем свадьбы или с другой строкой того же запроса —
        `skipped` с причиной `duplicate`. Телефон нормализуется к `+7XXXXXXXXXX`
        (принимаются `8…`, `7…`, `+7…`); не распознанный — `invalid`, строка не
        заводится, остальные — заводятся. Повтор того же списка добавляет ноль.
        Права — как у `POST …/guests` (вся команда свадьбы).
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [guests]
              properties:
                guests:
                  type: array
                  minItems: 1
                  maxItems: 300
                  items:
                    type: object
                    required: [name]
                    properties:
                      name: { type: string, minLength: 2, maxLength: 120 }
                      phone: { type: string, maxLength: 32 }
                      plusOne: { type: boolean, default: false }
                      group: { type: string, maxLength: 60 }
      responses:
        '201':
          description: Список заведён; что пропущено — в `skipped`
          content:
            application/json:
              schema:
                type: object
                required: [created, skipped]
                properties:
                  created:
                    type: array
                    items: { $ref: '#/components/schemas/Guest' }
                  skipped:
                    type: array
                    items:
                      type: object
                      required: [index, name, reason]
                      properties:
                        index: { type: integer, description: 'позиция строки в присланном списке, с нуля' }
                        name: { type: string }
                        reason: { type: string, enum: [duplicate, invalid] }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Validation' }
  /weddings/{weddingId}/guests/remind:
    post:
      tags: [guests]
      summary: Напомнить гостям, которые не ответили
      description: |
        Одно СМС каждому, кто не ответил на приглашение и у кого есть телефон.
        Раньше пара обходила список руками — на полусотне гостей это вечер.

        **Только паре** (фича 005): рассылка тратит SMS-лимит свадьбы,
        помощнику и координатору — 403. Телефоны гостей видит тоже только
        пара — остальным в `Guest` приходит `hasPhone`.

        **Кому не уходит и почему.** Гостю, чья личная ссылка уже открыта,
        напоминание отсюда не идёт: новая ссылка гасит его токен, а вместе с
        ним теряется всё, что он выбрал — резерв подарка в том числе (§9).
        Такому гостю пара выдаёт ссылку поштучно, осознанно.

        **Не чаще раза в сутки.** Рассылка стоит денег и приходит чужим людям.
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: Отправлено
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent: { type: integer, description: 'сколько сообщений ушло' }
                  skippedNoPhone: { type: integer, description: 'не ответили, но телефона нет' }
                  skippedLinkUsed:
                    type: integer
                    description: 'не ответили, но личная ссылка уже открыта — им ссылку выдают поштучно'
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /weddings/{weddingId}/guests/{guestId}/invite-link:
    post:
      tags: [guests]
      summary: Выдать (или перевыпустить) одноразовую ссылку-приглашение гостю
      description: >
        Только роль couple. Список гостей ведёт вся команда, но ссылка — это
        удостоверение: кто её выдаёт, тот может обменять её сам и дальше
        действовать от имени гостя. Помощнику такие права не нужны
        (решение владельца 2026-09-03).
        Возвращает ссылку вида https://tili-tili.ru/i/{shareCode}. Код одноразовый:
        при первом открытии он гаснет и гость получает персональный guestToken в свой
        браузер. Пара сырой токен не видит. Повторный вызов гасит прежний код и выдаёт
        новый — на случай «гость потерял ссылку». Вместе с кодом гаснет и САМ ТОКЕН:
        иначе пара, которая ссылку и выдаёт, обменяла бы её сама и увидела на гостевой
        странице, какой подарок этот гость зарезервировал (§9). Резервы прежнего токена
        освобождаются — подарок не должен остаться занят мёртвой ссылкой.
      parameters:
        - { name: weddingId, in: path, required: true, schema: { type: string } }
        - { name: guestId, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [url, expiresAt]
                properties:
                  url: { type: string, example: 'https://tili-tili.ru/i/7F3K-QX9M' }
                  expiresAt: { type: string, format: date-time, description: '30 дней или дата свадьбы + 30 дней — что позже' }

  /invite/{shareCode}:
    get:
      tags: [guests]
      security: []
      summary: Обменять одноразовый код на персональный токен гостя
      description: >
        Вызывается браузером гостя при переходе по ссылке. Код гасится в этот момент.
        Токен возвращается один раз и дальше живёт в localStorage гостя; повторный вызов
        с тем же кодом отдаёт 410.
      parameters:
        - { name: shareCode, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [guestToken, guestName, wedding]
                properties:
                  guestToken: { type: string }
                  guestName: { type: string }
                  wedding: { $ref: '#/components/schemas/WeddingPublic' }
        '410': { description: Код уже использован или истёк — попросите пару выслать ссылку заново }

  # ───────────────────────── TASKS / CHECKLIST ─────────────────────────
  /weddings/{weddingId}/tasks:
    get:
      tags: [tasks]
      summary: Чек-лист (шаблонные + свои задачи)
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Task' }
    post:
      tags: [tasks]
      summary: Своя задача
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, period]
              properties:
                title: { type: string }
                period: { type: string, example: '3–1 месяц' }
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
  /weddings/{weddingId}/tasks/{taskId}:
    patch:
      tags: [tasks]
      summary: Отметить/изменить задачу
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: taskId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                done: { type: boolean }
                title: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
    delete:
      tags: [tasks]
      summary: Удалить свою задачу
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: taskId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Удалена }
        '409': { $ref: '#/components/responses/Conflict' }

  # ───────────────────────── CHATS ─────────────────────────
  /chats:
    get:
      tags: [chats]
      summary: Список чатов пользователя
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Chat' }
  /chats/{chatId}/messages:
    get:
      tags: [chats]
      summary: История сообщений
      security: [{ bearerAuth: [] }]
      parameters:
        - name: chatId
          in: path
          required: true
          schema: { type: string }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Message' }
                  nextCursor: { type: string, nullable: true }
        '423': { $ref: '#/components/responses/Locked' }
    post:
      tags: [chats]
      summary: Отправить сообщение
      security: [{ bearerAuth: [] }]
      parameters:
        - name: chatId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string }
                attachmentUrl: { type: string }
      responses:
        '201':
          description: Отправлено
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '409':
          description: '`chat_closed` — чат своего подрядчика закрыт: сделка отменена, писать некому (переписка остаётся паре для чтения)'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '423': { $ref: '#/components/responses/Locked' }
        '429':
          description: |
            Предел исчерпан: `cold_outreach_limit` — непроверенный подрядчик начал
            за день больше переписок, чем разрешено (§18.2); `tilly_daily_limit` —
            пара задала Тилю за сутки (по поясу свадьбы) больше реплик, чем
            `Chat.tilly.limitPerDay` (План §18: 50 в день). Заголовка Retry-After
            нет — счётчик сбрасывается в полночь по поясу места, и экран говорит
            это словами сервера. Реплика не сохраняется.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /chats/{chatId}/ws:
    get:
      tags: [chats]
      summary: Живой канал чата (WebSocket)
      description: |
        Апгрейд соединения до WebSocket. Сообщения и «печатает…» приходят
        событиями `{ type, chatId, actorId, … }`; отправка по-прежнему
        обычным POST — канал только доставляет.

        Токен доступа идёт СТРОКОЙ ЗАПРОСА, а не заголовком: браузерный
        WebSocket заголовки ставить не умеет. Поэтому он маскируется в логах
        наравне с гостевыми токенами.

        Отказ приходит внутри соединения (`{ type: 'error', status, code }`)
        и закрывает его кодом 4000+status: молча оборвать рукопожатие значило
        бы «сеть барахлит» вместо «ссылка устарела», и клиент переподключался
        бы бесконечно.

        Если канал недоступен, клиент опрашивает историю раз в 30 секунд —
        штатный запасной путь §13.4.
      parameters:
        - name: chatId
          in: path
          required: true
          schema: { type: string }
        - name: token
          in: query
          required: true
          description: Токен доступа. В заголовке его передать нельзя — так устроен браузерный WebSocket.
          schema: { type: string }
      security: []
      responses:
        '101': { description: Соединение установлено }
        '426': { description: Нужен апгрейд до WebSocket }
  /chats/{chatId}/typing:
    post:
      tags: [chats]
      summary: Индикатор «печатает…» (WebSocket-fallback)
      description: |
        Запасной путь для клиента без живого канала: он сообщает о наборе
        обычным запросом, а событие уходит подписчикам тем же каналом, что
        и сообщения. Ничего не сохраняется — «печатает» живёт секунды.
      security: [{ bearerAuth: [] }]
      parameters:
        - name: chatId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: OK }
  /chats/vendor/{vendorId}:
    post:
      tags: [chats]
      summary: Открыть/создать чат с подрядчиком («Написать»)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Chat' }

  # ───────────────────────── VENDOR-СТОРОНА ─────────────────────────
  /vendor/profile:
    get:
      tags: [vendor]
      summary: Моя анкета подрядчика
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VendorDetail' }
    put:
      tags: [vendor]
      summary: "Создать/обновить анкету (мастер: категория → пакеты → город → публикация)"
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VendorUpsert' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VendorDetail' }
  /vendor/profile/publish:
    post:
      tags: [vendor]
      summary: Опубликовать анкету (модерация → live)
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [moderation, live] }
        '409': { $ref: '#/components/responses/Conflict' }
  /vendor/calendar:
    get:
      tags: [vendor]
      summary: Занятость (календарь подрядчика)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: month
          in: query
          schema: { type: string, example: '2027-06' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date: { type: string, format: date }
                    status: { type: string, enum: [free, busy, hold] }
                    source:
                      type: string
                      enum: [manual, deal]
                      nullable: true
                      description: |
                        Кто закрыл дату: сам подрядчик (`manual`) или сделка (`deal`).
                        Без этого поля кабинет не может отличить одно от другого: он
                        предлагает снять занятость с забронированного дня, сервер
                        отвечает 204 и ничего не меняет — тап выглядит потерянным.

                        Пусто у `hold`: мягкая бронь выводится из состояния сделки и
                        строки в календаре не имеет.
  /vendor/calendar/busy:
    post:
      tags: [vendor]
      summary: Отметить даты занятыми/свободными
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dates, status]
              properties:
                dates:
                  type: array
                  items: { type: string, format: date }
                status: { type: string, enum: [free, busy] }
      responses:
        '204': { description: OK }
  /vendor/leads:
    get:
      tags: [vendor]
      summary: Входящие лиды
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Lead' }
  /vendor/leads/{leadId}:
    post:
      tags: [vendor]
      summary: "Действие с лидом: ответить / холд 72ч / отклонить / вернуть"
      security: [{ bearerAuth: [] }]
      parameters:
        - name: leadId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [reply, hold, decline, reopen] }
                text:
                  type: string
                  minLength: 1
                  maxLength: 4000
                  description: |
                    Текст ответа паре — обязателен при `action=reply` (без него 422),
                    у остальных действий не принимается. Уходит первым сообщением
                    в чат пары с подрядчиком.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Lead' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Validation' }
  /vendor/reviews:
    get:
      tags: [vendor]
      summary: Отзывы на меня
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Review' }
  /vendor/reviews/{reviewId}/reply:
    post:
      tags: [vendor]
      summary: Ответить на отзыв
      security: [{ bearerAuth: [] }]
      parameters:
        - name: reviewId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties: { text: { type: string } }
      responses:
        '200': { description: OK }
  /vendor/deals:
    get:
      tags: [vendor]
      summary: Сделки подрядчика
      description: |
        Экран «Сделки» кабинета: пара, дата, сумма, состояние. Заявка
        и сделка — разные вещи: у заявки нет ни суммы, ни мягкой брони,
        и показывать одно вместо другого нечестно.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  expected:
                    allOf: [{ $ref: '#/components/schemas/Money' }]
                    description: 'остаток по ОТКРЫТЫМ броням (booked, paid_deposit): цена минус платежи'
                  shortfall:
                    allOf: [{ $ref: '#/components/schemas/Money' }]
                    description: |
                      Недоплата по ЗАВЕРШЁННЫМ (done) сделкам: работа сдана, а
                      цена не закрыта платежами. В «ожидается» не входит — это
                      предмет спора, а не ожидания (решение владельца, В7).
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        coupleName: { type: string }
                        weddingDate: { type: string, format: date, nullable: true }
                        price:
                          allOf: [{ $ref: '#/components/schemas/Money' }]
                          nullable: true
                        packageName:
                          type: string
                          nullable: true
                          description: 'пакет, по которому бронировали; null — без пакета или пакет снят с витрины'
                        state: { type: string, enum: [candidate, contacted, negotiating, booked, paid_deposit, done, cancelled] }
                        holdUntil: { type: string, format: date-time, nullable: true }
                        busRoutes:
                          type: array
                          description: |
                            Маршруты для гостей, привязанные к этой сделке (перевозчик,
                            фича 006): сколько машин и мест готовить. Только счётчики —
                            имён и телефонов гостей перевозчик не получает (152-ФЗ).
                            У сделок не из слота «Транспорт» — пустой список.
                          items:
                            type: object
                            properties:
                              id: { type: string }
                              name: { type: string }
                              from: { type: string, nullable: true }
                              time: { type: string, nullable: true }
                              seats: { type: integer }
                              taken: { type: integer, description: 'занято персон' }
  /vendor/updates:
    get:
      tags: [vendor]
      summary: Обновления от пар
      description: >
        §13.2: изменения рассадки, опроса меню, тайминга и гостевых счётчиков
        по свадьбам, где сделка подрядчика забронирована. Не уведомление,
        а короткий список того, что надо учесть; закрывается подтверждением.
        Правки одного вида по одной свадьбе сливаются в одну строку, пока
        её не подтвердили: рассадку двигают мышью, и каждое движение — не новость.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string }
                    wedding: { type: string }
                    weddingDate: { type: string, format: date, nullable: true }
                    kind: { type: string, enum: [seating, menu, timeline, guests, transport], description: '`transport` — маршрут для гостей заведён или изменён по сделке перевозчика (фичи 006/014)' }
                    text: { type: string }
                    createdAt: { type: string, format: date-time }
                    ackAt: { type: string, format: date-time, nullable: true }

  /vendor/updates/{updateId}/ack:
    post:
      tags: [vendor]
      summary: Подтвердить получение обновления
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: updateId, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: Учтено; повтор не меняет времени }
        '404': { $ref: '#/components/responses/NotFound' }

  /vendor/analytics:
    get:
      tags: [vendor]
      summary: Аналитика анкеты (просмотры → лиды → сделки)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: period
          in: query
          schema: { type: string, enum: [month, season, year], default: season }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  period: { type: string, enum: [month, season, year] }
                  revenue: { $ref: '#/components/schemas/Money' }
                  revenueDeltaPct:
                    type: number
                    nullable: true
                    example: 38
                    description: |
                      Прирост к прошлому такому же периоду. `null`, если
                      прошлого периода не было: делить на ноль нечем, а «+100 %»
                      от нуля — это выдумка.
                  funnel:
                    type: object
                    properties:
                      views: { type: integer, example: 1240 }
                      contacts: { type: integer, example: 96 }
                      leads: { type: integer, example: 34 }
                      deals: { type: integer, example: 8 }

  # ───────────────────────── REVIEWS (пара → подрядчик) ─────────────────────────
  /catalog/vendors/{vendorId}/reviews:
    get:
      tags: [catalog]
      summary: Отзывы о подрядчике
      description: |
        Публичная лента с пометкой источника (§15). Отзыв пары идёт
        с подтверждённой сделкой, отзыв гостя — с бейджем «Гость свадьбы»:
        у пары договор, у гостя впечатление, и смешивать их нельзя.

        Скрытые модератором отзывы не отдаются и в рейтинг не входят.
      security: [{ bearerAuth: [] }]
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
        - name: source
          in: query
          schema: { type: string, enum: [couple, guest, all], default: all }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Review' } }
                  nextCursor: { type: string, nullable: true }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [catalog]
      summary: Оставить отзыв (только после завершённой сделки)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rating, text]
              properties:
                rating: { type: integer, minimum: 1, maximum: 5 }
                text: { type: string }
      responses:
        '201': { description: Создан }
        '409': { $ref: '#/components/responses/Conflict' }

  # ───────────────────────── NOTIFICATIONS ─────────────────────────
  /notifications:
    get:
      tags: [notifications]
      summary: Уведомления пользователя
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Notification' }
  /notifications/{id}/read:
    post:
      tags: [notifications]
      summary: Отметить прочитанным
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: OK }


  # ───────────────────────── WISHLIST (пара) ─────────────────────────
  /weddings/{weddingId}/wishlist:
    get:
      tags: [wishlist]
      summary: Список желаний пары
      description: Пара видит статус подарка, но НИКОГДА не видит, кто его зарезервировал (§9).
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  gifts: { type: array, items: { $ref: '#/components/schemas/Gift' } }
                  funds: { type: array, items: { $ref: '#/components/schemas/Fund' } }
                  antiGifts: { type: array, items: { type: string } }
    post:
      tags: [wishlist]
      summary: Добавить желание
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, price]
              properties:
                name: { type: string }
                price: { $ref: '#/components/schemas/Money' }
                group: { type: boolean, description: можно скидываться }
                icon: { type: string, maxLength: 16 }
                desc: { type: string }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Gift' }
  /weddings/{weddingId}/wishlist/{giftId}:
    patch:
      tags: [wishlist]
      summary: Изменить желание
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: giftId, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                price: { $ref: '#/components/schemas/Money' }
                icon: { type: string, maxLength: 16 }
                desc: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Gift' }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      tags: [wishlist]
      summary: Удалить желание
      description: 'Запрещено, если в подарок уже сложились — 409, как и у фонда.'
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: giftId, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: OK }
        '409': { $ref: '#/components/responses/Conflict' }

  # ───────────────────────── WISHLIST (гость по ссылке) ─────────────────────────
  /gifts/{guestToken}:
    get:
      tags: [wishlist-guest]
      summary: Список подарков глазами гостя
      description: Без авторизации, по коду приглашения. Занятые подарки помечены, но кем — не видно.
      parameters: [{ $ref: '#/components/parameters/GuestToken' }]
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  gifts: { type: array, items: { $ref: '#/components/schemas/Gift' } }
                  funds: { type: array, items: { $ref: '#/components/schemas/Fund' } }
                  antiGifts: { type: array, items: { type: string } }
                  fairPrice:
                    allOf: [{ $ref: '#/components/schemas/Money' }]
                    nullable: true
                    description: |
                      Деликатный ориентир «банкет на гостя»: расходы по строке
                      «Площадка и кейтеринг», делённые на число гостей. Пока
                      бюджет пуст или список гостей пуст — null, а не ноль
                      и не выдуманное число.
  /gifts/{guestToken}/{giftId}/reserve:
    post:
      tags: [wishlist-guest]
      summary: Зарезервировать подарок
      description: |
        Атомарно: резерв проходит только если подарок свободен (conditional update
        либо unique constraint). Второй гость получает 409 — подарить дважды нельзя.
        Токен гостя сохраняется, но паре не отдаётся никогда.

        Повтор тем же токеном — тот же 200: гость нажал дважды, подарок его.
        Подарок, в который уже сложились, зарезервировать нельзя (409): иначе
        деньги участников складчины повисают на чужом резерве.
      parameters:
        - { $ref: '#/components/parameters/GuestToken' }
        - { name: giftId, in: path, required: true, schema: { type: string } }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      security: []
      responses:
        '200': { description: Зарезервировано }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/QuotaExceeded' }
    delete:
      tags: [wishlist-guest]
      summary: Снять свой резерв
      description: Только по тому же гостевому токену, которым резерв был поставлен.
      parameters:
        - { $ref: '#/components/parameters/GuestToken' }
        - { name: giftId, in: path, required: true, schema: { type: string } }
      security: []
      responses:
        '204': { description: OK }
  /gifts/{guestToken}/{giftId}/fund:
    post:
      tags: [wishlist-guest]
      summary: Внести часть суммы (складчина)
      description: |
        Только для подарков с `group: true`. Сумма прибавляется к `funded`
        до `price`; взнос, переваливающий за цену, отклоняется 409 — принять
        больше нужного значит взять с гостя лишнее. При `funded == price`
        подарок закрывается и больше не принимает ни взносов, ни резерва.
      parameters:
        - { $ref: '#/components/parameters/GuestToken' }
        - { name: giftId, in: path, required: true, schema: { type: string } }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { $ref: '#/components/schemas/Money' }
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Gift' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/QuotaExceeded' }
  /gifts/{guestToken}/funds/{fundId}:
    post:
      tags: [wishlist-guest]
      summary: Перевод в денежный фонд
      parameters:
        - { $ref: '#/components/parameters/GuestToken' }
        - { name: fundId, in: path, required: true, schema: { type: string } }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { $ref: '#/components/schemas/Money' }
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Fund' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/QuotaExceeded' }

  # ───────────────────────── СВОИ ПОДРЯДЧИКИ (§11) ─────────────────────────
  /weddings/{weddingId}/slots/{slotId}/external:
    post:
      tags: [bookings]
      summary: Добавить своего подрядчика (не из каталога)
      description: Пара нашла исполнителя сама. Профиля в каталоге нет, но слот, бюджет и тайминг он занимает наравне с каталожным.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: slotId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vendorName, price]
              properties:
                vendorName: { type: string }
                price: { $ref: '#/components/schemas/Money' }
                phone: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Slot' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Validation' }
    delete:
      tags: [bookings]
      summary: Удалить своего подрядчика
      description: Слот возвращается в empty, выданный гостевой токен аннулируется.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: slotId, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: OK }
        '409': { $ref: '#/components/responses/Conflict' }
  /weddings/{weddingId}/slots/{slotId}/external/invite:
    post:
      tags: [bookings]
      summary: Ссылка-приглашение для своего подрядчика
      description: Одноразовый токен, scope guest_vendor, TTL 30 дней, привязан к слоту.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: slotId, in: path, required: true, schema: { type: string } }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  url: { type: string, example: 'https://tili-tili.ru/join/ТИЛИ-СВОЙ-S8' }
                  expiresAt: { type: string, format: date-time }
  /guest-vendor/{token}:
    get:
      tags: [bookings]
      summary: Кабинет гостя-подрядчика
      description: Без регистрации. Отдаёт только дату, тайминг дня и чат с парой — ничего больше.
      parameters: [{ name: token, in: path, required: true, schema: { type: string } }]
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  weddingDate: { type: string, format: date }
                  slot: { $ref: '#/components/schemas/Slot' }
                  chatId: { type: string }
                  timeline:
                    type: array
                    description: >
                      Тайминг дня целиком (§11): подрядчику нужно знать, когда начинается
                      церемония и когда его выход. Ни гостей, ни бюджета, ни остальной
                      команды здесь нет.
                    items: { $ref: '#/components/schemas/TimelineEvent' }
        '410':
          description: Ссылка истекла или отозвана
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /guest-vendor/{token}/messages:
    get:
      tags: [bookings]
      summary: Переписка своего подрядчика с парой
      description: >
        Тот же чат, что пара видит у себя в списке. Аккаунта у подрядчика нет,
        поэтому право читать даёт токен из ссылки, а не заголовок авторизации.
      parameters:
        - { name: token, in: path, required: true, schema: { type: string } }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Message' } }
                  nextCursor: { type: string, nullable: true }
        '410':
          description: Ссылка истекла или отозвана
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    post:
      tags: [bookings]
      summary: Написать паре
      parameters: [{ name: token, in: path, required: true, schema: { type: string } }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, minLength: 1, maxLength: 4000 }
      security: []
      responses:
        '201':
          description: Отправлено
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '410':
          description: Ссылка истекла или отозвана
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ───────────────────────── ЛОГИСТИКА ГОСТЕЙ (§12.1) ─────────────────────────
  /weddings/{weddingId}/logistics/buses:
    get:
      tags: [logistics]
      summary: Маршруты трансфера
      description: |
        Пути чтения не было: маршрут можно было создать и удалить, но не
        показать. Экран логистики после перезагрузки оставался пустым, хотя
        автобусы стояли в базе, а `taken` — единственный источник правды о том,
        сколько мест занято.
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/BusRoute' }
    post:
      tags: [logistics]
      summary: Добавить маршрут трансфера
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BusRoute' }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BusRoute' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Validation' }
  /weddings/{weddingId}/logistics/buses/{busId}:
    patch:
      tags: [logistics]
      summary: Изменить маршрут
      description: |
        До фичи 006 маршрут можно было только завести и удалить — опечатка во
        времени стоила записей гостей. Все поля необязательны; `seats` меньше
        занятых персон — 409 `bus_full`; `dealId: null` снимает перевозчика.
        Перевозчику из каталога уходит заметка «пара изменила маршрут».
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: busId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 120 }
                from: { type: string, maxLength: 300, nullable: true, description: 'null — точка сбора ещё не назначена' }
                time: { type: string, nullable: true, description: 'HH:MM; null — время ещё не назначено' }
                seats: { type: integer, minimum: 1, maximum: 500 }
                dealId: { type: string, nullable: true }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BusRoute' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Validation' }
    delete:
      tags: [logistics]
      summary: Удалить маршрут
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: busId, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: OK }
  /weddings/{weddingId}/logistics/hotels:
    get:
      tags: [logistics]
      summary: Отельные блоки
      description: |
        Симметрично автобусам: блок можно было завести и удалить, но не
        прочитать. Гостю список отдаётся по его токену
        (`/join/{guestToken}/hotels`), а паре — здесь.
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/HotelBlock' }
    post:
      tags: [logistics]
      summary: Добавить отельный блок
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/HotelBlock' }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HotelBlock' }
  /weddings/{weddingId}/logistics/hotels/{hotelId}:
    delete:
      tags: [logistics]
      summary: Удалить отельный блок
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: hotelId, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: OK }
  /weddings/{weddingId}/logistics/notify-pickup:
    post:
      tags: [logistics]
      summary: Разослать точки сбора записавшимся гостям
      description: |
        Гостям доставки нет (ни SMS, ни почты — «Хвосты»): рассылка пишется в
        журнал и уведомляет команду в приложении. Тело ответа говорит, что
        именно сделано, — `recipients` это кого касается, `notified` —
        скольким членам команды ушло. Повторный вызов с тем же
        Idempotency-Key рассылку не дублирует.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      responses:
        '202':
          description: Принято
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BroadcastResult' }
  /join/{guestToken}/shuttle:
    get:
      tags: [logistics-guest]
      summary: Маршруты трансфера, доступные гостю
      description: |
        Записаться гость мог, а увидеть, куда именно, — нет: путь был только на
        запись, и `busId` брать было неоткуда. `myBusId` говорит, куда он уже
        записан: без этого гость, вернувшийся по ссылке, видит пустой выбор и
        занимает второе место.
      parameters: [{ $ref: '#/components/parameters/GuestToken' }]
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  myBusId: { type: string, nullable: true }
                  routes:
                    type: array
                    items: { $ref: '#/components/schemas/BusRoute' }
    post:
      tags: [logistics-guest]
      summary: Гость записывается в автобус
      description: Место занимается атомарно; при переполнении — 409.
      parameters:
        - { $ref: '#/components/parameters/GuestToken' }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [busId]
              properties:
                busId: { type: string }
      security: []
      responses:
        '200': { description: Записан }
        '409': { $ref: '#/components/responses/Conflict' }
  /join/{guestToken}/day:
    get:
      tags: [logistics-guest]
      summary: День свадьбы глазами гостя
      description: |
        Одним запросом всё, что нужно гостю в день X (План §8.8, фича 009):
        программа — только блоки с `forGuests`, в поясе места; адрес и дресс-код;
        свой стол; свой автобус с перевозчиком; координатор (имя и телефон — он
        для того и назначен, «не жениха»); окно чата дня. Телефона пары здесь
        нет. Раздел на экране гостя появляется с кануна (по `tz`).
      parameters: [{ $ref: '#/components/parameters/GuestToken' }]
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [date, tz, timeline, table, bus, coordinator, chat]
                properties:
                  date: { type: string, format: date, nullable: true }
                  tz: { type: string, example: Europe/Moscow }
                  venue: { type: string, nullable: true }
                  dressCode: { type: string, nullable: true }
                  dressNote: { type: string, nullable: true }
                  timeline:
                    type: array
                    items: { $ref: '#/components/schemas/TimelineEvent' }
                  table:
                    type: object
                    nullable: true
                    properties:
                      name: { type: string }
                  bus:
                    allOf: [{ $ref: '#/components/schemas/BusRoute' }]
                    nullable: true
                  coordinator:
                    type: object
                    nullable: true
                    properties:
                      name: { type: string, nullable: true }
                      phone: { type: string, nullable: true }
                  chat:
                    type: object
                    required: [open]
                    properties:
                      open: { type: boolean, description: 'чат дня открыт гостям: с 09:00 кануна по конец дня после свадьбы (по tz)' }
                      opensAt: { type: string, format: date-time, nullable: true }
                      closesAt: { type: string, format: date-time, nullable: true }
        '410': { description: 'Ссылка отозвана или истекла' }
  /join/{guestToken}/day-chat/messages:
    get:
      tags: [logistics-guest]
      summary: Чат дня X глазами гостя
      description: |
        Та же лента, что у пары и команды (`kind=day`), только по токену гостя и
        только в окне дня; вне окна — 423 `chat_closed_for_guests` с `opensAt`
        в `details`. Реплики гостей несут `guestName`.
      parameters:
        - { $ref: '#/components/parameters/GuestToken' }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Message' }
                  nextCursor: { type: string, nullable: true }
        '410': { description: 'Ссылка отозвана или истекла' }
        '423': { $ref: '#/components/responses/Locked' }
    post:
      tags: [logistics-guest]
      summary: Гость пишет в чат дня X
      description: |
        Реплика от имени гостя из списка (`guestName`), в общий чат дня — её
        видят пара, команда и забронированные подрядчики (решение владельца,
        В3 фичи 009). Команде уходит уведомление, как от участника.
      parameters: [{ $ref: '#/components/parameters/GuestToken' }]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, minLength: 1, maxLength: 2000 }
      responses:
        '201':
          description: Отправлено
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '410': { description: 'Ссылка отозвана или истекла' }
        '422': { $ref: '#/components/responses/Validation' }
        '423': { $ref: '#/components/responses/Locked' }
  /join/{guestToken}/team:
    get:
      tags: [logistics-guest]
      summary: Кто работал на свадьбе — глазами гостя
      description: |
        Нужен, чтобы гость мог оставить отзыв: `POST /weddings/{weddingId}/guest-reviews`
        принимает `vendorId`, а взять его гостю было неоткуда — списка команды
        по гостевому токену не существовало, и форма отзыва предлагала имена из
        мока.

        Отдаётся только то, что гость и так видел на свадьбе: имя, категория и
        идентификатор. Сумма сделки, телефон и состояние сделки — нет.
        Подрядчики только забронированные: оценивать того, кто не работал,
        нечего.
      parameters: [{ $ref: '#/components/parameters/GuestToken' }]
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  weddingId:
                    type: string
                    description: |
                      Нужен гостю, чтобы отправить отзыв: путь отзыва —
                      `/weddings/{weddingId}/guest-reviews`, а взять этот
                      идентификатор ему больше неоткуда. Секрета в нём нет:
                      токен гостя и так привязан к этой свадьбе.
                  weddingDate:
                    type: string
                    format: date
                    nullable: true
                    description: |
                      Отзыв принимается только после дня свадьбы. Без даты гость
                      заполнил бы форму и получил отказ там, где сказать нужно
                      было заранее.
                  tz:
                    type: string
                    example: Europe/Moscow
                    description: 'пояс места свадьбы — «день прошёл» считается по нему, не по телефону гостя'
                  vendors:
                    type: array
                    items:
                      type: object
                      properties:
                        vendorId: { type: string }
                        name: { type: string }
                        categoryId: { type: string }
  /join/{guestToken}/hotels:
    get:
      tags: [logistics-guest]
      summary: Отельные блоки для гостя
      parameters: [{ $ref: '#/components/parameters/GuestToken' }]
      security: []
      responses:
        '200':
          description: OK
[...]
