openapi: 3.0.3
info:
  title: Тили-тили API
  version: 0.11.0
  description: |
    Контракт бэкенда для PWA «Тили-тили» (tili-tili.ru) — свадебный планировщик.
    Фронтенд (React) уже работает на моках; этот файл — единственный источник правды для бэкенда (Claude Code).

    ## Решения владельца 2026-09-02 (контракт v0.2)
    - Деньги — объект `{ amount: копейки, currency: ISO 4217 }` у КАЖДОЙ суммы.
      Не одна валюта на свадьбу: план §19.7 описывает свадьбу за границей, где
      сделка в евро, а бюджет в рублях. В MVP принимается только RUB.
    - У слота нет собственного статуса. Слот либо пуст, либо несёт сделку;
      состояние живёт в `Deal.state` — шесть значений. `Slot.tileState` —
      производная подпись для мозаики, только для чтения.
    - Гость опознаётся ОДНИМ персональным токеном во всех гостевых путях
      (`/rsvp/{guestToken}`, `/gifts/{guestToken}`, `/join/{guestToken}/…`).
      Общий код свадьбы не годится: по нему нельзя подставить имя в приглашение
      и нельзя дать гостю снять СВОЙ резерв подарка. Анонимность сохраняется —
      система знает гостя, а API пары этот токен не отдаёт никогда (§9).
    - Переноса данных с localStorage-моков не будет: реальных пользователей не
      было, эндпоинт импорта не заводится.

    ## Роли
    - `couple` — молодожёны (владельцы свадьбы): полный доступ.
    - `helper` — помощник (друг/родственник): орг-разделы, без бюджета и сделок.
    - `coordinator` — координатор: командует днём X (тайминг, чаты подрядчиков), без бюджета и оплат.
    - `vendor` — подрядчик: свои сделки, лиды, чаты, анкета.
    - `guest` — гость: только RSVP по ссылке приглашения.

    ## Принципы
    - Все даты — ISO 8601 (`2027-06-14`), дата-время — UTC RFC 3339.
    - Деньги — integer в **копейках** (минорных единицах) + код валюты ISO 4217.
      Решение владельца 2026-09-02. Пример: 85 000 ₽ = `{ "amount": 8500000, "currency": "RUB" }`.
      Дробных сумм в JSON не бывает; показ рублей — задача клиента.
    - Пагинация: `?limit=20&cursor=...` → `{ items, nextCursor }`.
    - Живые обновления — WebSocket `wss://…/ws?token=<access>`. События: `message.created`,
      `deal.state_changed`, `timeline.shifted`, `seating.updated`, `menu.poll.updated`,
      `notification.created`. Клиент без WebSocket опрашивает REST раз в 30 с (§13.4).
      OpenAPI 3.0 не описывает WS-каналы — контракт событий ведётся здесь.
    - Ошибки: `{ "error": { "code": "string", "message": "string" } }`.
    - Идемпотентность мутаций оплаты/брони — через `Idempotency-Key` header.
servers:
  - url: https://api.tili-tili.ru/v1
  - url: http://localhost:8080/v1
tags:
  - name: auth
  - name: weddings
  - name: invites
  - name: geo
  - name: catalog
  - name: bookings
  - name: budget
  - name: guests
  - name: tasks
  - name: chats
  - name: vendor
  - name: notifications

paths:
  # ───────────────────────── AUTH ─────────────────────────
  /auth/otp:
    post:
      tags: [auth]
      security: []
      summary: Запросить код из SMS
      description: |
        Регистрация и вход — один и тот же шаг: аккаунт заводится при первой
        успешной проверке кода. Пароля в продукте нет (экран /auth во фронте).
        Ответ одинаков и для нового, и для известного номера — иначе по нему
        можно перебором узнать, зарегистрирован ли человек.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone: { type: string, example: '+79171234567', description: 'E.164; на фронте вводятся 10 цифр после +7' }
      responses:
        '200':
          description: Код отправлен
          content:
            application/json:
              schema:
                type: object
                required: [expiresIn, resendAfter]
                properties:
                  expiresIn: { type: integer, example: 300, description: сколько секунд код действителен }
                  resendAfter: { type: integer, example: 60, description: через сколько секунд можно запросить повторно }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /auth/otp/verify:
    post:
      tags: [auth]
      security: []
      summary: Обменять код на токены
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, code]
              properties:
                phone: { type: string, example: '+79171234567' }
                code: { type: string, example: '4821' }
                device: { type: string, example: 'iPhone · Safari', description: подпись для экрана «Сессии и устройства» }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthTokens' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /auth/refresh:
    post:
      tags: [auth]
      security: []
      summary: Обновление access-token
      description: |
        Refresh одноразовый: при обмене старый гасится, выдаётся новый.
        Повторное предъявление уже погашенного — признак кражи, и тогда
        гасятся ВСЕ сессии пользователя.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties: { refreshToken: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthTokens' }
  /auth/oauth/{provider}:
    get:
      tags: [auth]
      summary: OAuth-вход (VK, Yandex, Google, Telegram)
      parameters:
        - name: provider
          in: path
          required: true
          schema: { type: string, enum: [vk, yandex, google, telegram] }
      responses:
        '302': { description: Редирект на провайдера }

  # ───────────────────────── WEDDINGS ─────────────────────────
  /weddings:
    get:
      tags: [weddings]
      summary: Мои свадьбы
      description: |
        Единственный способ найти свою свадьбу после переустановки приложения:
        идентификатор хранится только на устройстве, и с чистым localStorage
        восстановить его больше неоткуда. Отдаёт и те свадьбы, куда человека
        позвали помощником или координатором, — с его ролью в каждой.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/Wedding'
                    - type: object
                      properties:
                        role: { type: string, enum: [couple, helper, coordinator, vendor] }
    post:
      tags: [weddings]
      summary: Создать свадьбу (после квиза)
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [partnerName, city]
              properties:
                partnerName: { type: string, example: Тимур }
                date: { type: string, format: date, example: '2027-06-14' }
                city: { $ref: '#/components/schemas/CityRef' }
                budgetTotal: { $ref: '#/components/schemas/Money' }  # example: 1500000
                guestsPlanned: { type: integer, example: 80 }
                style: { type: string, example: нежная классика }
                quizAnswers:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Свадьба создана; создатель — `couple`
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Wedding' }
  /weddings/{weddingId}:
    get:
      tags: [weddings]
      summary: Карточка свадьбы (данные для Home)
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Wedding' }
    patch:
      tags: [weddings]
      summary: Обновить (дата, город, бюджет, стиль)
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                date: { type: string, format: date }
                city: { $ref: '#/components/schemas/CityRef' }
                budgetTotal: { $ref: '#/components/schemas/Money' }
                guestsPlanned: { type: integer }
                style: { type: string }
                inviteText: { type: string }
                inviteThemeId: { type: integer, minimum: 0, maximum: 9 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Wedding' }
  /weddings/{weddingId}/members:
    get:
      tags: [weddings]
      summary: Команда свадьбы
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Member' }
  /weddings/{weddingId}/members/{userId}:
    patch:
      tags: [weddings]
      summary: Сменить роль участника (только couple)
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: userId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                role: { type: string, enum: [couple, helper, coordinator] }
      responses:
        '200': { description: OK }
    delete:
      tags: [weddings]
      summary: Удалить участника
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: userId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Удалён }

  # ───────────────────────── INVITES (команда) ─────────────────────────
  /weddings/{weddingId}/invites:
    post:
      tags: [invites]
      summary: Создать одноразовую ссылку-приглашение (7 дней)
      description: Фронт рисует QR по `url`. Код — человекочитаемый (ПАРА-XXXX, ДРУГ-XXXX, ПОДР-XXXX).
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role: { type: string, enum: [couple, helper, coordinator, vendor] }
                label: { type: string, example: 'Для Тимура' }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InviteLink' }
    get:
      tags: [invites]
      summary: Активные приглашения
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/InviteLink' }
  /invites/{code}:
    get:
      tags: [invites]
      summary: Просмотр приглашения (экран /join/:code)
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string, example: ДРУГ-7F3K }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code: { type: string }
                  role: { type: string, enum: [couple, helper, coordinator, vendor] }
                  weddingTitle: { type: string, example: 'Алина ♥ Тимур' }
                  inviterName: { type: string }
                  expiresAt: { type: string, format: date-time }
        '410': { description: Истёк или отозван }
    delete:
      tags: [invites]
      summary: Отозвать приглашение
      security: [{ bearerAuth: [] }]
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Отозвано }
  /invites/{code}/accept:
    post:
      tags: [invites]
      summary: Принять приглашение (после регистрации/входа)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Присоединён к свадьбе
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Member' }
        '410': { description: Истёк/отозван/уже использован }

  # ───────────────────────── GEO ─────────────────────────
  /geo/cities:
    get:
      tags: [geo]
      summary: Поиск городов (автокомплит CityPicker)
      description: |
        Источник — Яндекс Геокодер (`geocode-maps.yandex.ru/1.x/?kind=locality`) + собственная таблица райцентров.
        Поиск prefix-first, ё→е, минимум 2 символа. Ответ отсортирован: точный префикс → население.
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string, minLength: 2, example: сиб }
        - name: limit
          in: query
          schema: { type: integer, default: 12, maximum: 50 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/City' }
  /geo/nearest:
    get:
      tags: [geo]
      summary: Ближайший город по координатам (кнопка геолокации)
      parameters:
        - name: lat
          in: query
          required: true
          schema: { type: number, example: 54.7351 }
        - name: lon
          in: query
          required: true
          schema: { type: number, example: 55.9587 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/City' }

  # ───────────────────────── CATALOG ─────────────────────────
  /catalog/categories:
    get:
      tags: [catalog]
      summary: Категории подрядчиков (площадки, фото, декор…)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Category' }
  /catalog/vendors:
    get:
      tags: [catalog]
      summary: Каталог подрядчиков с фильтрами
      parameters:
        - name: q
          in: query
          schema: { type: string }
        - name: categoryId
          in: query
          schema: { type: string }
        - name: city
          in: query
          schema: { type: string, example: Уфа }
        - name: radiusKm
          in: query
          schema: { type: integer, default: 100 }
        - name: priceMin
          in: query
          description: Нижняя граница «цены от», в копейках.
          schema: { type: integer, minimum: 0 }
        - name: priceMax
          in: query
          schema: { type: integer, minimum: 0 }
        - name: date
          in: query
          description: |
            Дата свадьбы. Подрядчики, у которых она занята, из выдачи исчезают —
            иначе пара пишет тому, кто заведомо не сможет.
          schema: { type: string, format: date, example: '2027-06-14' }
        - name: ratingMin
          in: query
          schema: { type: number, minimum: 0, maximum: 5 }
        - name: hasVideo
          in: query
          description: Только анкеты с видео в портфолио.
          schema: { type: boolean }
        - name: sort
          in: query
          schema: { type: string, enum: [rating, price_asc, price_desc, popular], default: rating }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VendorPage' }
  /catalog/vendors/{vendorId}:
    get:
      tags: [catalog]
      summary: Анкета подрядчика
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VendorDetail' }
        '404': { $ref: '#/components/responses/NotFound' }
  /catalog/vendors/{vendorId}/availability:
    get:
      tags: [catalog]
      summary: Занятость дат (для выбора даты брони)
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
        - name: month
          in: query
          schema: { type: string, example: '2027-06' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  busyDates:
                    type: array
                    items: { type: string, format: date }
                  holdDates:
                    type: array
                    items: { type: string, format: date }

  # ───────────────────────── FAVORITES ─────────────────────────
  /me/favorites:
    get:
      tags: [catalog]
      summary: Избранное пользователя
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Vendor' }
  /me/favorites/{vendorId}:
    put:
      tags: [catalog]
      summary: Добавить в избранное
      security: [{ bearerAuth: [] }]
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: OK }
    delete:
      tags: [catalog]
      summary: Убрать из избранного
      security: [{ bearerAuth: [] }]
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: OK }

  # ───────────────────────── BOOKINGS / SLOTS ─────────────────────────
  /weddings/{weddingId}/slots:
    get:
      tags: [bookings]
      summary: "Слоты команды (12 категорий: площадка, фото, видео, ведущий, декор, торт, музыка, платье, костюм, образ, транспорт, координатор)"
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Slot' }
  /weddings/{weddingId}/slots/{slotId}/book:
    post:
      tags: [bookings]
      summary: Забронировать подрядчика в слот («Добавить в свадьбу»)
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: slotId
          in: path
          required: true
          schema: { type: string }
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string, maxLength: 200 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vendorId, price]
              properties:
                vendorId: { type: string }
                packageId: { type: string }
                price: { $ref: '#/components/schemas/Money' }  # example: 150000
      responses:
        '200':
          description: Слот заполнен; бюджет пересчитывается на бэкенде
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Slot' }
        '409': { description: Слот уже занят }
  /weddings/{weddingId}/slots/{slotId}/cancel:
    post:
      tags: [bookings]
      summary: Отменить бронь (слот → free, бюджет минус)
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: slotId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Slot' }
  /weddings/{weddingId}/slots/{slotId}/pay:
    post:
      tags: [bookings]
      summary: Оплата слота (доплата/полная)
      description: |
        Идемпотентно по `Idempotency-Key`. Статус → «Оплачено полностью».
        Эквайринга в MVP нет (План §3.2): запись в `payments` фиксирует факт,
        деньги ходят между парой и подрядчиком напрямую.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: slotId
          in: path
          required: true
          schema: { type: string }
        - name: Idempotency-Key
          in: header
          required: true
          description: |
            Ключ повтора. Без него повторное нажатие «Оплатить» на плохой связи
            заводит вторую запись об оплате.
          schema: { type: string, maxLength: 200 }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount: { $ref: '#/components/schemas/Money' }  # description: 'пусто = полная сумма'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Slot' }

  # ───────────────────────── BUDGET ─────────────────────────
  /weddings/{weddingId}/budget:
    get:
      tags: [budget]
      summary: Бюджет (статьи + автосуммы из слотов)
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Budget' }
  /weddings/{weddingId}/budget/items:
    post:
      tags: [budget]
      summary: Своя статья расхода
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, amount, categoryId]
              properties:
                title: { type: string }
                amount: { $ref: '#/components/schemas/Money' }
                categoryId: { type: string }
      responses:
        '201':
          description: Создана
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BudgetItem' }
  /weddings/{weddingId}/budget/items/{itemId}:
    delete:
      tags: [budget]
      summary: Удалить свою статью (×-кнопка)
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: itemId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Удалена }

  # ───────────────────────── GUESTS ─────────────────────────
  /weddings/{weddingId}/guests:
    get:
      tags: [guests]
      summary: Список гостей
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Guest' }
    post:
      tags: [guests]
      summary: Добавить гостя
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                plusOne: { type: boolean, default: false }
                group: { type: string, example: 'Родня невесты' }
      responses:
        '201':
          description: Создан
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Guest' }
  /weddings/{weddingId}/guests/{guestId}:
    patch:
      tags: [guests]
      summary: Обновить гостя (статус RSVP циклом yes→no→pending)
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: guestId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                plusOne: { type: boolean }
                status: { type: string, enum: [yes, no, pending] }
                tableId: { type: string, nullable: true }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Guest' }
    delete:
      tags: [guests]
      summary: Удалить гостя
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: guestId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Удалён }
  /weddings/{weddingId}/tables:
    get:
      tags: [guests]
      summary: Рассадка (столы + гости)
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Table' }
    post:
      tags: [guests]
      summary: Добавить стол
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, example: 'Стол 7' }
                capacity: { type: integer, default: 8 }
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Table' }

  # ───────────────────────── GUEST RSVP (публично) ─────────────────────────
  /rsvp/{guestToken}:
    get:
      tags: [guests]
      summary: Публичная страница гостя (из ссылки в приглашении)
      parameters:
        - name: guestToken
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  guestName: { type: string }
                  wedding: { $ref: '#/components/schemas/WeddingPublic' }
                  status: { type: string, enum: [yes, no, pending] }
    post:
      tags: [guests]
      summary: Ответ гостя (RSVP)
      parameters:
        - name: guestToken
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [yes, no] }
                plusOne: { type: boolean }
                comment: { type: string }
      responses:
        '200': { description: Принято }

  /weddings/{weddingId}/guests/{guestId}/invite-link:
    post:
      tags: [guests]
      summary: Выдать (или перевыпустить) одноразовую ссылку-приглашение гостю
      description: >
        Только роль couple. Список гостей ведёт вся команда, но ссылка — это
        удостоверение: кто её выдаёт, тот может обменять её сам и дальше
        действовать от имени гостя. Помощнику такие права не нужны
        (решение владельца 2026-09-03).
        Возвращает ссылку вида https://tili-tili.ru/i/{shareCode}. Код одноразовый:
        при первом открытии он гаснет и гость получает персональный guestToken в свой
        браузер. Пара сырой токен не видит. Повторный вызов гасит прежний код и выдаёт
        новый — на случай «гость потерял ссылку». Вместе с кодом гаснет и САМ ТОКЕН:
        иначе пара, которая ссылку и выдаёт, обменяла бы её сама и увидела на гостевой
        странице, какой подарок этот гость зарезервировал (§9). Резервы прежнего токена
        освобождаются — подарок не должен остаться занят мёртвой ссылкой.
      parameters:
        - { name: weddingId, in: path, required: true, schema: { type: string } }
        - { name: guestId, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [url, expiresAt]
                properties:
                  url: { type: string, example: 'https://tili-tili.ru/i/7F3K-QX9M' }
                  expiresAt: { type: string, format: date-time, description: '30 дней или дата свадьбы + 30 дней — что позже' }

  /invite/{shareCode}:
    get:
      tags: [guests]
      security: []
      summary: Обменять одноразовый код на персональный токен гостя
      description: >
        Вызывается браузером гостя при переходе по ссылке. Код гасится в этот момент.
        Токен возвращается один раз и дальше живёт в localStorage гостя; повторный вызов
        с тем же кодом отдаёт 410.
      parameters:
        - { name: shareCode, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [guestToken, guestName, wedding]
                properties:
                  guestToken: { type: string }
                  guestName: { type: string }
                  wedding: { $ref: '#/components/schemas/WeddingPublic' }
        '410': { description: Код уже использован или истёк — попросите пару выслать ссылку заново }

  # ───────────────────────── TASKS / CHECKLIST ─────────────────────────
  /weddings/{weddingId}/tasks:
    get:
      tags: [tasks]
      summary: Чек-лист (шаблонные + свои задачи)
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Task' }
    post:
      tags: [tasks]
      summary: Своя задача
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, period]
              properties:
                title: { type: string }
                period: { type: string, example: '3–1 месяц' }
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
  /weddings/{weddingId}/tasks/{taskId}:
    patch:
      tags: [tasks]
      summary: Отметить/изменить задачу
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: taskId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                done: { type: boolean }
                title: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
    delete:
      tags: [tasks]
      summary: Удалить свою задачу
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: taskId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Удалена }

  # ───────────────────────── CHATS ─────────────────────────
  /chats:
    get:
      tags: [chats]
      summary: Список чатов пользователя
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Chat' }
  /chats/{chatId}/messages:
    get:
      tags: [chats]
      summary: История сообщений
      security: [{ bearerAuth: [] }]
      parameters:
        - name: chatId
          in: path
          required: true
          schema: { type: string }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Message' }
                  nextCursor: { type: string, nullable: true }
    post:
      tags: [chats]
      summary: Отправить сообщение
      security: [{ bearerAuth: [] }]
      parameters:
        - name: chatId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string }
                attachmentUrl: { type: string }
      responses:
        '201':
          description: Отправлено
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
  /chats/{chatId}/typing:
    post:
      tags: [chats]
      summary: Индикатор «печатает…» (WebSocket-fallback)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: chatId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: OK }
  /chats/vendor/{vendorId}:
    post:
      tags: [chats]
      summary: Открыть/создать чат с подрядчиком («Написать»)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Chat' }

  # ───────────────────────── VENDOR-СТОРОНА ─────────────────────────
  /vendor/profile:
    get:
      tags: [vendor]
      summary: Моя анкета подрядчика
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VendorDetail' }
    put:
      tags: [vendor]
      summary: "Создать/обновить анкету (мастер: категория → пакеты → город → публикация)"
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VendorUpsert' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VendorDetail' }
  /vendor/profile/publish:
    post:
      tags: [vendor]
      summary: Опубликовать анкету (модерация → live)
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [moderation, live] }
  /vendor/calendar:
    get:
      tags: [vendor]
      summary: Занятость (календарь подрядчика)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: month
          in: query
          schema: { type: string, example: '2027-06' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date: { type: string, format: date }
                    status: { type: string, enum: [free, busy, hold] }
  /vendor/calendar/busy:
    post:
      tags: [vendor]
      summary: Отметить даты занятыми/свободными
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dates, status]
              properties:
                dates:
                  type: array
                  items: { type: string, format: date }
                status: { type: string, enum: [free, busy] }
      responses:
        '204': { description: OK }
  /vendor/leads:
    get:
      tags: [vendor]
      summary: Входящие лиды
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Lead' }
  /vendor/leads/{leadId}:
    post:
      tags: [vendor]
      summary: "Действие с лидом: ответить / холд 72ч / отклонить / вернуть"
      security: [{ bearerAuth: [] }]
      parameters:
        - name: leadId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [reply, hold, decline, reopen] }
                text: { type: string, description: 'для action=reply' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Lead' }
  /vendor/reviews:
    get:
      tags: [vendor]
      summary: Отзывы на меня
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Review' }
  /vendor/reviews/{reviewId}/reply:
    post:
      tags: [vendor]
      summary: Ответить на отзыв
      security: [{ bearerAuth: [] }]
      parameters:
        - name: reviewId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties: { text: { type: string } }
      responses:
        '200': { description: OK }
  /vendor/analytics:
    get:
      tags: [vendor]
      summary: Аналитика анкеты (просмотры → лиды → сделки)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: period
          in: query
          schema: { type: string, enum: [month, season, year], default: season }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  revenue: { type: integer, example: 385000 }
                  revenueDeltaPct: { type: number, example: 38 }
                  funnel:
                    type: object
                    properties:
                      views: { type: integer, example: 1240 }
                      contacts: { type: integer, example: 96 }
                      leads: { type: integer, example: 34 }
                      deals: { type: integer, example: 8 }

  # ───────────────────────── REVIEWS (пара → подрядчик) ─────────────────────────
  /catalog/vendors/{vendorId}/reviews:
    post:
      tags: [catalog]
      summary: Оставить отзыв (только после завершённой сделки)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rating, text]
              properties:
                rating: { type: integer, minimum: 1, maximum: 5 }
                text: { type: string }
      responses:
        '201': { description: Создан }

  # ───────────────────────── NOTIFICATIONS ─────────────────────────
  /notifications:
    get:
      tags: [notifications]
      summary: Уведомления пользователя
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Notification' }
  /notifications/{id}/read:
    post:
      tags: [notifications]
      summary: Отметить прочитанным
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: OK }


  # ───────────────────────── WISHLIST (пара) ─────────────────────────
  /weddings/{weddingId}/wishlist:
    get:
      tags: [wishlist]
      summary: Список желаний пары
      description: Пара видит статус подарка, но НИКОГДА не видит, кто его зарезервировал (§9).
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  gifts: { type: array, items: { $ref: '#/components/schemas/Gift' } }
                  funds: { type: array, items: { $ref: '#/components/schemas/Fund' } }
                  antiGifts: { type: array, items: { type: string } }
    post:
      tags: [wishlist]
      summary: Добавить желание
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, price]
              properties:
                name: { type: string }
                price: { $ref: '#/components/schemas/Money' }
                group: { type: boolean, description: можно скидываться }
                icon: { type: string, maxLength: 16 }
                desc: { type: string }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Gift' }
  /weddings/{weddingId}/wishlist/{giftId}:
    patch:
      tags: [wishlist]
      summary: Изменить желание
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: giftId, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                price: { $ref: '#/components/schemas/Money' }
                icon: { type: string, maxLength: 16 }
                desc: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Gift' }
    delete:
      tags: [wishlist]
      summary: Удалить желание
      description: 'Запрещено, если в подарок уже сложились — 409, как и у фонда.'
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: giftId, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: OK }
        '409': { $ref: '#/components/responses/Conflict' }

  # ───────────────────────── WISHLIST (гость по ссылке) ─────────────────────────
  /gifts/{guestToken}:
    get:
      tags: [wishlist-guest]
      summary: Список подарков глазами гостя
      description: Без авторизации, по коду приглашения. Занятые подарки помечены, но кем — не видно.
      parameters: [{ $ref: '#/components/parameters/GuestToken' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  gifts: { type: array, items: { $ref: '#/components/schemas/Gift' } }
                  funds: { type: array, items: { $ref: '#/components/schemas/Fund' } }
                  antiGifts: { type: array, items: { type: string } }
                  fairPrice:
                    allOf: [{ $ref: '#/components/schemas/Money' }]
                    nullable: true
                    description: |
                      Деликатный ориентир «банкет на гостя»: расходы по строке
                      «Площадка и кейтеринг», делённые на число гостей. Пока
                      бюджет пуст или список гостей пуст — null, а не ноль
                      и не выдуманное число.
  /gifts/{guestToken}/{giftId}/reserve:
    post:
      tags: [wishlist-guest]
      summary: Зарезервировать подарок
      description: |
        Атомарно: резерв проходит только если подарок свободен (conditional update
        либо unique constraint). Второй гость получает 409 — подарить дважды нельзя.
        Токен гостя сохраняется, но паре не отдаётся никогда.

        Повтор тем же токеном — тот же 200: гость нажал дважды, подарок его.
        Подарок, в который уже сложились, зарезервировать нельзя (409): иначе
        деньги участников складчины повисают на чужом резерве.
      parameters:
        - { $ref: '#/components/parameters/GuestToken' }
        - { name: giftId, in: path, required: true, schema: { type: string } }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      responses:
        '200': { description: Зарезервировано }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      tags: [wishlist-guest]
      summary: Снять свой резерв
      description: Только по тому же гостевому токену, которым резерв был поставлен.
      parameters:
        - { $ref: '#/components/parameters/GuestToken' }
        - { name: giftId, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: OK }
  /gifts/{guestToken}/{giftId}/fund:
    post:
      tags: [wishlist-guest]
      summary: Внести часть суммы (складчина)
      description: |
        Только для подарков с `group: true`. Сумма прибавляется к `funded`
        до `price`; взнос, переваливающий за цену, отклоняется 409 — принять
        больше нужного значит взять с гостя лишнее. При `funded == price`
        подарок закрывается и больше не принимает ни взносов, ни резерва.
      parameters:
        - { $ref: '#/components/parameters/GuestToken' }
        - { name: giftId, in: path, required: true, schema: { type: string } }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { $ref: '#/components/schemas/Money' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Gift' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/QuotaExceeded' }
  /gifts/{guestToken}/funds/{fundId}:
    post:
      tags: [wishlist-guest]
      summary: Перевод в денежный фонд
      parameters:
        - { $ref: '#/components/parameters/GuestToken' }
        - { name: fundId, in: path, required: true, schema: { type: string } }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { $ref: '#/components/schemas/Money' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Fund' }
        '429': { $ref: '#/components/responses/QuotaExceeded' }

  # ───────────────────────── СВОИ ПОДРЯДЧИКИ (§11) ─────────────────────────
  /weddings/{weddingId}/slots/{slotId}/external:
    post:
      tags: [bookings]
      summary: Добавить своего подрядчика (не из каталога)
      description: Пара нашла исполнителя сама. Профиля в каталоге нет, но слот, бюджет и тайминг он занимает наравне с каталожным.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: slotId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vendorName, price]
              properties:
                vendorName: { type: string }
                price: { $ref: '#/components/schemas/Money' }
                phone: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Slot' }
    delete:
      tags: [bookings]
      summary: Удалить своего подрядчика
      description: Слот возвращается в empty, выданный гостевой токен аннулируется.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: slotId, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: OK }
  /weddings/{weddingId}/slots/{slotId}/external/invite:
    post:
      tags: [bookings]
      summary: Ссылка-приглашение для своего подрядчика
      description: Одноразовый токен, scope guest_vendor, TTL 30 дней, привязан к слоту.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: slotId, in: path, required: true, schema: { type: string } }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  url: { type: string, example: 'https://tili-tili.ru/join/ТИЛИ-СВОЙ-S8' }
                  expiresAt: { type: string, format: date-time }
  /guest-vendor/{token}:
    get:
      tags: [bookings]
      summary: Кабинет гостя-подрядчика
      description: Без регистрации. Отдаёт только дату, свой блок тайминга и чат с парой — ничего больше.
      parameters: [{ name: token, in: path, required: true, schema: { type: string } }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  weddingDate: { type: string, format: date }
                  slot: { $ref: '#/components/schemas/Slot' }
                  chatId: { type: string }

  # ───────────────────────── ЛОГИСТИКА ГОСТЕЙ (§12.1) ─────────────────────────
  /weddings/{weddingId}/logistics/buses:
    post:
      tags: [logistics]
      summary: Добавить маршрут трансфера
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BusRoute' }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BusRoute' }
  /weddings/{weddingId}/logistics/buses/{busId}:
    delete:
      tags: [logistics]
      summary: Удалить маршрут
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: busId, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: OK }
  /weddings/{weddingId}/logistics/hotels:
    post:
      tags: [logistics]
      summary: Добавить отельный блок
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/HotelBlock' }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HotelBlock' }
  /weddings/{weddingId}/logistics/hotels/{hotelId}:
    delete:
      tags: [logistics]
      summary: Удалить отельный блок
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: hotelId, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: OK }
  /weddings/{weddingId}/logistics/notify-pickup:
    post:
      tags: [logistics]
      summary: Разослать точки сбора записавшимся гостям
      description: Массовая рассылка идёт через очередь; повторный вызов с тем же Idempotency-Key не дублирует push.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      responses:
        '202': { description: Принято в очередь }
  /join/{guestToken}/shuttle:
    post:
      tags: [logistics-guest]
      summary: Гость записывается в автобус
      description: Место занимается атомарно; при переполнении — 409.
      parameters:
        - { $ref: '#/components/parameters/GuestToken' }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [busId]
              properties:
                busId: { type: string }
      responses:
        '200': { description: Записан }
        '409': { $ref: '#/components/responses/Conflict' }
  /join/{guestToken}/hotels:
    get:
      tags: [logistics-guest]
      summary: Отельные блоки для гостя
      parameters: [{ $ref: '#/components/parameters/GuestToken' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/HotelBlock' }
    post:
      tags: [logistics-guest]
      summary: Гость занимает номер в блоке
      description: |
        Место занимается атомарно, при переполнении — 409. Пути записи
        не было вовсе: блоки показывались, а занять номер было нечем,
        хотя план требует «атомарные места в автобусе И НОМЕРЕ».
      parameters:
        - { $ref: '#/components/parameters/GuestToken' }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [hotelId]
              properties:
                hotelId: { type: string }
      responses:
        '200': { description: Номер занят }
        '409': { $ref: '#/components/responses/Conflict' }

  # ───────────────────────── ОПРОС ПО МЕНЮ (§12.2) ─────────────────────────
  /weddings/{weddingId}/menu-poll:
    get:
      tags: [catering]
      summary: Опрос гостей по горячему
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MenuPoll' }
    put:
      tags: [catering]
      summary: Изменить опрос
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MenuPoll' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MenuPoll' }
  /weddings/{weddingId}/menu-poll/remind:
    post:
      tags: [catering]
      summary: Напомнить не выбравшим блюдо
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      responses:
        '202': { description: Принято в очередь }
  /join/{guestToken}/menu-vote:
    post:
      tags: [catering]
      summary: Гость выбирает блюдо
      description: Один голос на гостя; повторный вызов меняет выбор, а не добавляет второй.
      parameters: [{ $ref: '#/components/parameters/GuestToken' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [optionId]
              properties:
                optionId: { type: string }
      responses:
        '200': { description: OK }

  # ───────────────────────── ОТЗЫВЫ ГОСТЕЙ (§15) ─────────────────────────
  /weddings/{weddingId}/guest-reviews:
    get:
      tags: [reviews]
      summary: Отзывы гостей о подрядчиках (для пары)
      description: Пара видит их анонимно — без имени гостя.
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Review' }
    post:
      tags: [reviews]
      summary: Гость оставляет отзыв
      description: |
        Только по действующему токену приглашения и только после даты свадьбы.
        Один отзыв на подрядчика на гостя: повторная отправка — редактирование, 409 при конфликте.
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vendorId, stars]
              properties:
                vendorId: { type: string }
                stars: { type: integer, minimum: 1, maximum: 5 }
                text: { type: string }
      responses:
        '201': { description: Создано }
        '409': { $ref: '#/components/responses/Conflict' }

  # ───────────────────────── СОГЛАСИЕ НА ОБРАБОТКУ ПДн (§18.1) ─────────────────────────
  /users/me/consent:
    post:
      tags: [auth]
      summary: Зафиксировать согласие на обработку персональных данных
      description: |
        152-ФЗ: согласие даётся явным действием. Сохраняются версия документа,
        дата и IP — это и есть подтверждение. Предустановленная галочка согласием не является.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [policyVersion]
              properties:
                policyVersion: { type: string, example: '2026-09-02' }
      responses:
        '201': { description: Зафиксировано }
    delete:
      tags: [auth]
      summary: Отозвать согласие
      description: Равносильно удалению аккаунта и всех данных свадьбы.
      security: [{ bearerAuth: [] }]
      responses:
        '204': { description: OK }


  # ───────────────────────── ПРОФИЛЬ ПОЛЬЗОВАТЕЛЯ ─────────────────────────
  /users/me:
    get:
      tags: [auth]
      summary: Мой профиль
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserProfile' }
    patch:
      tags: [auth]
      summary: Изменить профиль и настройки уведомлений
      description: Имя, язык, таймзона, четыре канала push и тихие часы — экран «Настройки».
      security: [{ bearerAuth: [] }]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserProfile' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserProfile' }
    delete:
      tags: [auth]
      summary: Удалить аккаунт
      description: |
        Soft-delete на 30 дней, затем полное удаление кроном (План §19.1).
        Активные сделки требуют подтверждения второй стороны — 409 со списком.
      security: [{ bearerAuth: [] }]
      responses:
        '204': { description: OK }
        '409': { $ref: '#/components/responses/Conflict' }
  /users/me/sessions:
    get:
      tags: [auth]
      summary: Мои сессии и устройства
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Session' }
    delete:
      tags: [auth]
      summary: Выйти со всех устройств, кроме текущего
      security: [{ bearerAuth: [] }]
      responses:
        '204': { description: OK }
  /users/me/sessions/{sessionId}:
    delete:
      tags: [auth]
      summary: Завершить сессию
      description: 'Выход со всех устройств сразу — DELETE /users/me/sessions.'
      security: [{ bearerAuth: [] }]
      parameters: [{ name: sessionId, in: path, required: true, schema: { type: string } }]
      responses:
        '204': { description: OK }
  /users/me/export:
    get:
      tags: [auth]
      summary: Экспорт моих данных
      description: 152-ФЗ, право на получение данных. JSON со всем, что принадлежит пользователю.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }
  /users/me/push-subscriptions:
    post:
      tags: [notifications]
      summary: Зарегистрировать подписку Web Push
      description: 'VAPID. На iOS работает только с 16.4+ и после установки на экран «Домой» — при отказе клиент откатывается на email.'
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [endpoint, keys]
              properties:
                endpoint: { type: string }
                keys: { type: object }
      responses:
        '201': { description: Создано }
    delete:
      tags: [notifications]
      summary: Отписаться от push
      security: [{ bearerAuth: [] }]
      responses:
        '204': { description: OK }
  /users/me/referral:
    get:
      tags: [auth]
      summary: Мой реферальный код и начисления
      description: 'Код вида ТИЛИ-ИМЯ; обеим парам по 3 000 ₽ бонусами после первой сделки приглашённой (§3.15).'
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code: { type: string, example: ТИЛИ-АЛИНА }
                  invited: { type: integer }
                  earned: { $ref: '#/components/schemas/Money' }
  /referral/{code}/apply:
    post:
      tags: [auth]
      summary: Применить чужой реферальный код
      description: Один раз на аккаунт и только до первой сделки. Повтор — 409.
      security: [{ bearerAuth: [] }]
      parameters: [{ name: code, in: path, required: true, schema: { type: string } }]
      responses:
        '200': { description: OK }
        '409': { $ref: '#/components/responses/Conflict' }

  # ───────────────────────── СДЕЛКИ: ПЕРЕХОДЫ И ДОГОВОРЫ ─────────────────────────
  /deals/{dealId}:
    patch:
      tags: [bookings]
      summary: Перевести сделку в следующее состояние
      description: |
        Контракт знал только book/cancel/pay — четыре из шести состояний были
        недостижимы через API. Разрешены только переходы вперёд по цепочке
        candidate → contacted → negotiating → booked → paid_deposit → done
        и cancelled из любого. Недопустимый переход — 409.
        Переход в negotiating ставит negotiatingUntil = now + 72 ч.
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: dealId, in: path, required: true, schema: { type: string } }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state]
              properties:
                state: { $ref: '#/components/schemas/DealState' }
                note: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Deal' }
        '409': { $ref: '#/components/responses/Conflict' }
  /deals/{dealId}/contract:
    post:
      tags: [documents]
      summary: Сгенерировать договор из шаблона
      description: 'Автоподстановка сторон, даты, суммы и города. Возвращает ссылки на PDF и DOCX. Дисклеймер про информационный характер — в теле документа (§3.10).'
      security: [{ bearerAuth: [] }]
      parameters: [{ name: dealId, in: path, required: true, schema: { type: string } }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [templateCode]
              properties:
                templateCode: { type: string, example: photographer }
                fields: { type: object, description: 'паспортные данные и реквизиты, вводятся парой' }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Document' }
  /weddings/{weddingId}/documents:
    get:
      tags: [documents]
      summary: Договоры свадьбы
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Document' }

  # ───────────────────────── ТАЙМИНГ И ПЛАН Б ─────────────────────────
  /weddings/{weddingId}/timeline:
    get:
      tags: [timeline]
      summary: Тайминг дня
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/TimelineEvent' }
    put:
      tags: [timeline]
      summary: Заменить тайминг целиком
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: { $ref: '#/components/schemas/TimelineEvent' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/TimelineEvent' }
  /weddings/{weddingId}/timeline/autogen:
    post:
      tags: [timeline]
      summary: Автоплан дня по забронированной команде
      description: 'Собирает черновик из стандартных длительностей и проверяет конфликты (План §8.9). Возвращает предпросмотр — не применяет.'
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  events: { type: array, items: { $ref: '#/components/schemas/TimelineEvent' } }
                  conflicts: { type: array, items: { type: string } }
  /weddings/{weddingId}/timeline/shift:
    post:
      tags: [timeline]
      summary: Сдвинуть день X на N минут
      description: 'Кнопка «+15 мин» в режиме дня X. Сдвигает все последующие блоки и рассылает push команде и гостям — killer-фича §19.6.'
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [minutes]
              properties:
                minutes: { type: integer, example: 15 }
      responses:
        '200': { description: OK }
  /weddings/{weddingId}/planb/activate:
    post:
      tags: [timeline]
      summary: Активировать план Б
      description: 'Пересобирает тайминг под запасной сценарий и рассылает команде и гостям новую точку сбора (§13.1).'
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scenario]
              properties:
                scenario: { type: string, example: rain }
      responses:
        '200': { description: OK }

  # ───────────────────────── МЕДИА И АЛЬБОМ ─────────────────────────
  /media/upload-url:
    post:
      tags: [media]
      summary: Ссылка для прямой загрузки файла
      description: |
        Presigned URL в S3. Сервер проверяет тип и размер до выдачи ссылки,
        длительность видео (≤180 с) — после загрузки; превышение отклоняет файл.
        EXIF снимается на сервере (План §12.4).
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kind, contentType, sizeBytes]
              properties:
                kind: { type: string, enum: [vendor_photo, vendor_video, album_photo, document_scan] }
                contentType: { type: string }
                sizeBytes: { type: integer }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                type: object
                properties:
                  uploadUrl: { type: string }
                  fileUrl: { type: string }
                  expiresAt: { type: string, format: date-time }
  /weddings/{weddingId}/album:
    get:
      tags: [album]
      summary: Общий фотоальбом гостей
      description: |
        Паре видны все кадры, гостю — только одобренные. Пара опознаётся
        токеном доступа, гость — параметром `guestToken`.
      security: []
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: guestToken
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AlbumPhoto' }
    post:
      tags: [album]
      summary: Гость добавляет фото
      description: 'Без регистрации, по персональному токену. Кадр попадает в очередь модерации парой.'
      security: []
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { $ref: '#/components/parameters/GuestTokenQuery' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fileUrl, consent]
              properties:
                fileUrl: { type: string }
                consent: { type: boolean, description: согласие на публикацию в альбоме пары }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AlbumPhoto' }
        '429': { $ref: '#/components/responses/QuotaExceeded' }
  /weddings/{weddingId}/album/{photoId}:
    patch:
      tags: [album]
      summary: Одобрить или скрыть кадр
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: photoId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                approved: { type: boolean }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AlbumPhoto' }

  # ───────────────────────── ПОДАРКИ: ЧЕГО НЕ ХВАТАЛО ПАРЕ ─────────────────────────
  /weddings/{weddingId}/anti-gifts:
    put:
      tags: [wishlist]
      summary: Список «просим не дарить»
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { type: string }
  /weddings/{weddingId}/funds:
    post:
      tags: [wishlist]
      summary: Завести денежный фонд
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, target]
              properties:
                name: { type: string }
                target: { $ref: '#/components/schemas/Money' }
                icon: { type: string, maxLength: 16 }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Fund' }
  /weddings/{weddingId}/funds/{fundId}:
    delete:
      tags: [wishlist]
      summary: Удалить фонд
      description: 'Запрещено, если в фонд уже внесены деньги — 409.'
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: fundId, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: OK }
        '409': { $ref: '#/components/responses/Conflict' }

  # ───────────────────────── ЖИЗНЬ ПРОЕКТА ─────────────────────────
  /weddings/{weddingId}/reschedule:
    post:
      tags: [weddings]
      summary: Перенести дату свадьбы
      description: |
        Проверяет занятость всей забронированной команды на новую дату и
        возвращает отчёт «кто свободен, кто нет» (План §9.4). Освобождает старые
        даты в календарях подрядчиков и захватывает новые в одной транзакции.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [date]
              properties:
                date: { type: string, format: date }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  free: { type: array, items: { type: string } }
                  busy: { type: array, items: { type: string } }
        '409': { $ref: '#/components/responses/Conflict' }
  /weddings/{weddingId}/cancel:
    post:
      tags: [weddings]
      summary: Отменить свадьбу
      description: |
        Требует подтверждения ОБОИХ партнёров: первый вызов создаёт запрос,
        второй — исполняет. Всем сделкам в booked и paid_deposit ставится
        cancelled_by_couple, подрядчики уведомляются, проект уходит в архив на
        12 месяцев (План §19.1).
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200': { description: 'Запрос создан либо отмена исполнена — см. поле state' }
  /catalog/concierge:
    post:
      tags: [catalog]
      summary: Заявка консьержу при пустой выдаче
      description: 'Пока в городе меньше 50 анкет, поиск честно предлагает подбор вручную за 24 часа (План §18.12).'
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [categoryId]
              properties:
                categoryId: { type: string }
                budget: { $ref: '#/components/schemas/Money' }
                comment: { type: string }
      responses:
        '201': { description: Создано }
  /complaints:
    post:
      tags: [moderation]
      summary: Пожаловаться
      description: 'Из чата, на отзыв, на анкету. SLA ответа модерации — 24 часа (План §18.2).'
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [targetKind, targetId, category]
              properties:
                targetKind: { type: string, enum: [vendor, review, message, deal] }
                targetId: { type: string }
                category: { type: string, enum: [fraud, content, no_show, spam] }
                text: { type: string }
      responses:
        '201': { description: Создано }
  /vendor/verification:
    post:
      tags: [vendor]
      summary: Подать документы на верификацию
      description: |
        Паспорт или реквизиты ИП для сверки с ФНС. Документы не публикуются
        никогда — публична только галочка «Проверен» (План §18.2, §8.2).
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kind, fileUrl]
              properties:
                kind: { type: string, enum: [passport, ip, company] }
                fileUrl: { type: string }
                inn: { type: string }
      responses:
        '201': { description: Отправлено на проверку }

  # ───────────────────────── АДМИНКА (План §19.10) ─────────────────────────
  /admin/moderation/vendors:
    get:
      tags: [admin]
      summary: Очередь пост-модерации анкет
      description: 'Анкеты публикуются сразу; модератор проверяет новые за ≤24 ч, жалобы — вне очереди.'
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VendorPage' }
  /admin/moderation/vendors/{vendorId}:
    post:
      tags: [admin]
      summary: Решение по анкете
      security: [{ bearerAuth: [] }]
      parameters: [{ name: vendorId, in: path, required: true, schema: { type: string } }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [approve, reject, verify] }
                reason: { type: string }
      responses:
        '200': { description: OK }
  /admin/complaints:
    get:
      tags: [admin]
      summary: Очередь жалоб
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Complaint' } }
                  nextCursor: { type: string, nullable: true }
  /admin/complaints/{complaintId}:
    post:
      tags: [admin]
      summary: Решение по жалобе
      description: 'Санкции по возрастанию: предупреждение → понижение в выдаче → блокировка (План §18.2).'
      security: [{ bearerAuth: [] }]
      parameters: [{ name: complaintId, in: path, required: true, schema: { type: string } }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [dismiss, warn, downrank, block] }
                note: { type: string }
      responses:
        '200': { description: OK }
  /admin/categories:
    put:
      tags: [admin]
      summary: Категории и словарь синонимов
      description: '«тамада» = «ведущий», «сладкий стол» = «кондитер» (План §19.2).'
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                categories: { type: array, items: { $ref: '#/components/schemas/Category' } }
                synonyms: { type: object }
      responses:
        '200': { description: OK }
  /admin/metrics:
    get:
      tags: [admin]
      summary: Дашборд платформы
      description: 'Регистрации, заполненность анкет, сделки, стоимость LLM, готовность города к запуску (≥50 анкет).'
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { type: object }
  /admin/weddings/{weddingId}:
    get:
      tags: [admin]
      summary: Просмотр проекта поддержкой
      description: |
        Только чтение и только по обращению пары. Каждый просмотр пишется в
        AuditLog: кто и зачем смотрел (План §19.10 п. 5).
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: reason, in: query, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Wedding' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    GuestTokenQuery:
      name: guestToken
      in: query
      required: true
      description: |
        Персональный токен гостя. Нужен там, где гость обращается к пути
        со свадьбой в адресе: подставить его в путь некуда, а без него
        сервер не отличит гостя от постороннего.
      schema: { type: string }
    GuestToken:
      name: guestToken
      in: path
      required: true
      description: |
        Персональный токен гостя из его ссылки-приглашения. Решение владельца
        2026-09-02: гость опознаётся ОДНИМ токеном во всех гостевых путях.
        Общий код свадьбы не годится — по нему нельзя ни подставить имя в
        приглашение (план §8.6), ни дать гостю снять СВОЙ резерв подарка.
        Анонимность подарков при этом сохраняется: система знает гостя, а API
        пары этот токен не отдаёт никогда (§9).
      schema: { type: string }
    WeddingId:
      name: weddingId
      in: path
      required: true
      schema: { type: string }
    Limit:
      name: limit
      in: query
      schema: { type: integer, default: 20, maximum: 100 }
    Cursor:
      name: cursor
      in: query
      schema: { type: string }

  responses:
    Unauthorized:
      description: Не авторизован
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Не найдено
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Conflict:
      description: Конфликт (уже существует)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    TooManyRequests:
      description: Слишком часто — см. Retry-After
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    QuotaExceeded:
      description: |
        Предел исчерпан насовсем: столько от одного гостя мы не принимаем.
        В отличие от TooManyRequests заголовка Retry-After НЕТ — повтор
        не поможет ни через минуту, ни через сутки. Клиенту нужно показать
        отказ, а не таймер.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
    AuthTokens:
      type: object
      properties:
        accessToken: { type: string }
        refreshToken: { type: string }
        expiresIn: { type: integer, example: 900, description: 'срок жизни accessToken, секунды. 15 минут по плану §1' }
        user: { $ref: '#/components/schemas/User' }
    User:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        email: { type: string, format: email }
        avatarUrl: { type: string, nullable: true }
    City:
      type: object
      properties:
        id: { type: integer, example: 42 }
        name: { type: string, example: Сибай }
        region: { type: string, example: Башкортостан }
        district: { type: string, nullable: true, example: Баймакский район }
        lat: { type: number }
        lon: { type: number }
        population: { type: integer, nullable: true }
        big: { type: boolean, description: 'крупный город — блок «Популярные» в CityPicker' }
    CityRef:
      type: object
      required: [name, region]
      properties:
        name: { type: string }
        region: { type: string }
    Wedding:
      type: object
      properties:
        id: { type: string }
        title: { type: string, example: 'Алина ♥ Тимур' }
        date: { type: string, format: date }
        city: { $ref: '#/components/schemas/CityRef' }
        budgetTotal: { $ref: '#/components/schemas/Money' }
        guestsPlanned: { type: integer }
        style: { type: string }
        tz: { type: string, example: Asia/Yekaterinburg, description: 'таймзона места свадьбы. По ней открывается чат дня X и считаются напоминания — не по таймзоне пользователя' }
        inviteText: { type: string }
        inviteThemeId: { type: integer }
        members:
          type: array
          items: { $ref: '#/components/schemas/Member' }
    WeddingPublic:
      type: object
      description: Публичная часть свадьбы для гостей (без бюджета)
      properties:
        title: { type: string }
        date: { type: string, format: date }
        city: { $ref: '#/components/schemas/CityRef' }
        inviteText: { type: string }
        inviteThemeId: { type: integer }
        venue: { type: string, nullable: true }
    Member:
      type: object
      description: >
        Член свадьбы — тот, у кого есть аккаунт и доступ в приложение.
        Гость (guest) и свой подрядчик (guest-vendor) членами НЕ являются:
        они опознаются токеном по ссылке, аккаунта не имеют и в members не попадают.
        Матрица доступа (§4 плана) описывает все шесть ролей, эта схема — только четыре с аккаунтом.
      properties:
        user: { $ref: '#/components/schemas/User' }
        role: { type: string, enum: [couple, helper, coordinator, vendor] }
        joinedAt: { type: string, format: date-time }
    InviteLink:
      type: object
      properties:
        code: { type: string, example: ДРУГ-7F3K }
        url: { type: string, example: 'https://tili-tili.ru/join/ДРУГ-7F3K' }
        role: { type: string, enum: [couple, helper, coordinator, vendor] }
        label: { type: string, nullable: true }
        expiresAt: { type: string, format: date-time }
        used: { type: boolean }
    Category:
      type: object
      description: >
        Справочник категорий подрядчиков. Список фиксированный — 35 записей,
        сид-данные лежат в миграции seed_categories и совпадают с CATEGORIES
        во фронте (Тили-тили/app/src/lib/data.ts). Enum здесь не ставится
        намеренно: добавление категории не должно требовать выката новой версии
        контракта. Изменять список может только админ через POST /admin/categories.
      properties:
        id: { type: string, example: photo }
        title: { type: string, example: Фотограф }
        icon: { type: string }
    Vendor:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        categoryId: { type: string }
        city: { type: string }
        priceFrom:
          allOf: [{ $ref: '#/components/schemas/Money' }]
          nullable: true
        rating: { type: number, nullable: true, example: 4.9 }
        reviewsCount: { type: integer }
        photoUrl: { type: string, nullable: true }
        verified:
          type: boolean
          description: |
            Документы сверены. Сами документы не публикуются НИКОГДА —
            наружу выходит только этот признак (план §6).
        hasVideo: { type: boolean }
    VendorPage:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Vendor' }
        nextCursor: { type: string, nullable: true }
    VendorDetail:
      allOf:
        - $ref: '#/components/schemas/Vendor'
        - type: object
          properties:
            about: { type: string }
            gallery:
              type: array
              description: Ссылки на фотографии — совместимость с прежней формой ответа.
              items: { type: string }
            media:
              type: array
              items:
                type: object
                properties:
                  kind: { type: string, enum: [photo, video] }
                  url: { type: string }
                  durationS: { type: integer, nullable: true }
            packages:
              type: array
              items:
                type: object
                properties:
                  id: { type: string }
                  name: { type: string }
                  price: { $ref: '#/components/schemas/Money' }
                  includes: { type: array, items: { type: string } }
            reviews:
              type: array
              items: { $ref: '#/components/schemas/Review' }
    VendorUpsert:
      type: object
      required: [name, categoryId, city]
      properties:
        name: { type: string }
        categoryId: { type: string }
        city: { $ref: '#/components/schemas/CityRef' }
        about: { type: string }
        priceFrom: { $ref: '#/components/schemas/Money' }
        packages:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              price: { $ref: '#/components/schemas/Money' }
              includes: { type: array, items: { type: string } }
        portfolioUrls:
          type: array
          description: 'Фотографии портфолио. Для видео нужен `media` — там есть длительность.'
          items: { type: string }
        media:
          type: array
          description: |
            Портфолио с типом файла. У видео длительность обязательна: ограничение
            180 с проверяется на сервере, а из голой ссылки его не узнать.
          items:
            type: object
            required: [kind, url]
            properties:
              kind: { type: string, enum: [photo, video] }
              url: { type: string }
              durationS: { type: integer, minimum: 1, maximum: 180, nullable: true }
    Slot:
      type: object
      description: |
        Место в команде свадьбы. Слот либо пуст, либо несёт сделку — собственного
        статуса у него нет. tileState — производная подпись для мозаики команды,
        только для чтения: клиент не должен вычислять её сам, чтобы экраны не
        разошлись между собой.
      properties:
        id: { type: string, example: s4 }
        categoryId: { type: string }
        deal:
          allOf: [{ $ref: '#/components/schemas/Deal' }]
          nullable: true
          description: null = слот пуст
        tileState:
          type: string
          readOnly: true
          description: производное от deal.state для плитки в мозаике
          enum: [empty, candidate, hold, booked, paid]
    Budget:
      type: object
      properties:
        total: { $ref: '#/components/schemas/Money' }  # example: 1500000
        spent: { $ref: '#/components/schemas/Money' }  # example: 560000
        categories:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              title: { type: string }
              planned: { $ref: '#/components/schemas/Money' }
              fromSlots: { type: integer, description: 'автосумма из броней' }
              items:
                type: array
                items: { $ref: '#/components/schemas/BudgetItem' }
    BudgetItem:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        amount: { $ref: '#/components/schemas/Money' }
        categoryId: { type: string }
        custom: { type: boolean, description: 'true = своя статья (удаляемая)' }
    Guest:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        plusOne: { type: boolean }
        group: { type: string, nullable: true }
        status: { type: string, enum: [yes, no, pending] }
        tableId: { type: string, nullable: true }
        diet: { type: string, nullable: true, enum: [null, vegetarian, vegan, halal, kosher, gluten_free, other], description: 'RSVP+ — ограничения по еде' }
        dietNote: { type: string, nullable: true, description: 'аллергии словами, когда enum не хватает' }
        menuOptionId: { type: string, nullable: true, description: 'выбор в опросе меню' }
        transfer: { type: string, nullable: true, enum: [null, need, own], description: 'нужен ли трансфер' }
        busId: { type: string, nullable: true, description: 'посажен в этот автобус' }
        hotelId: { type: string, nullable: true }
        inviteUrl: { type: string, nullable: true, description: 'ОДНОРАЗОВАЯ ссылка-приглашение для этого гостя. Пара её пересылает; при первом открытии код обменивается на персональный guestToken и гаснет. Сырой guestToken паре не отдаётся НИКОГДА — иначе пара может открыть гостевую страницу и увидеть его резерв подарка, что ломает анонимность (§9 бизнес-логики)' }
        inviteUrlUsed: { type: boolean, readOnly: true, description: 'true — гость уже открыл ссылку. Чтобы выдать новую, нужен POST …/invite-link' }
    Table:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        capacity: { type: integer, default: 8 }
        guestIds: { type: array, items: { type: string } }
    Task:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        period: { type: string }
        done: { type: boolean }
        custom: { type: boolean }
    Chat:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        avatarUrl: { type: string, nullable: true }
        lastMessage: { type: string }
        unread: { type: integer }
        kind: { type: string, enum: [vendor, team, day, tilly] }
        openFrom: { type: string, format: date-time, nullable: true, description: 'у kind=day — 09:00 по Wedding.tz в день свадьбы; до этого чат не создан' }
    Message:
      type: object
      properties:
        id: { type: string }
        chatId: { type: string }
        senderId: { type: string }
        text: { type: string }
        attachmentUrl: { type: string, nullable: true }
        sentAt: { type: string, format: date-time }
    Lead:
      type: object
      properties:
        id: { type: string }
        coupleName: { type: string }
        weddingDate: { type: string, format: date }
        city: { type: string }
        message: { type: string }
        status: { type: string, enum: [new, replied, hold, declined, won] }
[...]
