openapi: 3.0.3
info:
  title: Тили-тили API
  version: 0.43.0
  description: |
    Контракт бэкенда для PWA «Тили-тили» (tili-tili.ru) — свадебный планировщик.
    Фронтенд (React) уже работает на моках; этот файл — единственный источник правды для бэкенда (Claude Code).

    ## Решения владельца 2026-09-02 (контракт v0.2)
    - Деньги — объект `{ amount: копейки, currency: ISO 4217 }` у КАЖДОЙ суммы.
      Не одна валюта на свадьбу: план §19.7 описывает свадьбу за границей, где
      сделка в евро, а бюджет в рублях. В MVP принимается только RUB.
    - У слота нет собственного статуса. Слот либо пуст, либо несёт сделку;
      состояние живёт в `Deal.state` — шесть значений. `Slot.tileState` —
      производная подпись для мозаики, только для чтения.
    - Гость опознаётся ОДНИМ персональным токеном во всех гостевых путях
      (`/rsvp/{guestToken}`, `/gifts/{guestToken}`, `/join/{guestToken}/…`).
      Общий код свадьбы не годится: по нему нельзя подставить имя в приглашение
      и нельзя дать гостю снять СВОЙ резерв подарка. Анонимность сохраняется —
      система знает гостя, а API пары этот токен не отдаёт никогда (§9).
    - Переноса данных с localStorage-моков не будет: реальных пользователей не
      было, эндпоинт импорта не заводится.

    ## Роли
    - `couple` — молодожёны (владельцы свадьбы): полный доступ.
    - `helper` — помощник (друг/родственник): орг-разделы, без бюджета и сделок.
    - `coordinator` — координатор: командует днём X (тайминг, чаты подрядчиков), без бюджета и оплат.
    - `vendor` — подрядчик: свои сделки, лиды, чаты, анкета.
    - `guest` — гость: только RSVP по ссылке приглашения.

    ## Принципы
    - Все даты — ISO 8601 (`2027-06-14`), дата-время — UTC RFC 3339.
    - Деньги — integer в **копейках** (минорных единицах) + код валюты ISO 4217.
      Решение владельца 2026-09-02. Пример: 85 000 ₽ = `{ "amount": 8500000, "currency": "RUB" }`.
      Дробных сумм в JSON не бывает; показ рублей — задача клиента.
    - Пагинация: `?limit=20&cursor=...` → `{ items, nextCursor }`.
    - Живые обновления — WebSocket `wss://…/ws?token=<access>`. События: `message.created`,
      `deal.state_changed`, `timeline.shifted`, `seating.updated`, `menu.poll.updated`,
      `notification.created`. Клиент без WebSocket опрашивает REST раз в 30 с (§13.4).
      OpenAPI 3.0 не описывает WS-каналы — контракт событий ведётся здесь.
    - Ошибки: `{ "error": { "code": "string", "message": "string" } }`.
    - Идемпотентность мутаций оплаты/брони — через `Idempotency-Key` header.

    ## Общие коды ошибок (не привязаны к одной операции)
    Могут прийти у любой операции, если не сказано иное:
    - `unauthorized` (401) — любая операция за входом; у гостевых см. описание `GuestToken`.
    - `token_expired` (401) — просроченный access-токен; у живого канала — закрытие 4401.
    - `forbidden` (403) — живого согласия нет вовсе (не давали или отозвали), роли или стороны недостаточно; согласие под прежней редакцией — не `forbidden`, а `consent_outdated`.
    - `consent_outdated` (403) — согласие есть, но под прежней редакцией политики: нужно подтвердить новую (см. `POST /users/me/consent`); у живого канала чата — закрытие 4403 с тем же кодом.
    - `not_found` (404) — чужой или несуществующий идентификатор, либо неизвестный адрес.
    - `validation_failed` (422) — нарушение схемы запроса; поле-виновник — в `error.fields`.
    - `invalid_json` (422) — тело запроса не является JSON.
    - `invalid_character` (422) — NUL-байт в адресе, строке запроса или теле.
    - `payload_too_large` (413) — тело запроса больше 1 МиБ.
    - `unsupported_media_type` (415) — тело не `application/json`.
    - `bad_content_length` (400) — заголовок `Content-Length` не совпал с телом.
    - `rate_limited` (429) — превышен общий лимит запросов (кроме `/health*`); ответ несёт `Retry-After`.
    - `internal` (500) — необработанная ошибка сервера; тело несёт идентификатор запроса для поддержки.
    - `money_overflow` (500) — денежная сумма в базе вышла за пределы точного представления.
    - `db_unavailable` (503) — база данных недоступна.
    - `not_configured` (503) — секрет для отправки SMS-кодов не настроен на сервере.
    - `code_collision` (503) — генератор человекочитаемого кода исчерпал попытки подобрать свободный.
servers:
  - url: https://api.tili-tili.ru/v1
  - url: http://localhost:8080/v1
tags:
  - name: auth
  - name: weddings
  - name: invites
  - name: geo
  - name: catalog
  - name: bookings
  - name: budget
  - name: guests
  - name: tasks
  - name: chats
  - name: vendor
  - name: notifications

paths:
  # ───────────────────────── AUTH ─────────────────────────
  /auth/otp:
    post:
      tags: [auth]
      security: []
      summary: Запросить код из SMS
      description: |
        Регистрация и вход — один и тот же шаг: аккаунт заводится при первой
        успешной проверке кода. Пароля в продукте нет (экран /auth во фронте).
        Ответ одинаков и для нового, и для известного номера — иначе по нему
        можно перебором узнать, зарегистрирован ли человек.

        Лимиты выдачи кода (фича 005): по паре «номер + адрес» — 3 в час, по
        номеру — 10 в час и 30 в сутки, по адресу — как прежде. Каждый 429
        `too_many_requests` несёт `Retry-After` в секундах. Чужой номер пятью
        запросами больше не закрыть: посторонний с одного адреса упирается в
        свой лимит, а владелец номера с другого адреса код получает. Номер не
        похож на телефон — 422 `bad_phone`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone: { type: string, example: '+79171234567', description: 'E.164; на фронте вводятся 10 цифр после +7' }
      responses:
        '200':
          description: Код отправлен
          content:
            application/json:
              schema:
                type: object
                required: [expiresIn, resendAfter]
                properties:
                  expiresIn: { type: integer, example: 300, description: сколько секунд код действителен }
                  resendAfter: { type: integer, example: 60, description: через сколько секунд можно запросить повторно }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '502': { description: 'SMS-провайдер не ответил или отказал — код не отправлен (sms_failed)' }
  /auth/otp/verify:
    post:
      tags: [auth]
      security: []
      summary: Обменять код на токены
      description: |
        Аккаунт, удалённый через `DELETE /users/me` не больше 30 дней назад,
        при входе тем же номером восстанавливается: `deleted_at` снимается,
        в журнал аудита пишется `user.restored`, данные на месте. Отозванное
        при удалении согласие даётся заново — ответ несёт `consentRequired`
        как у нового аккаунта. Старше 30 дней строка стирается при входе (или
        уборкой раньше), и вход заводит новый аккаунт (фичи 005/014). Код
        сверяется со всеми живыми кодами номера: чужой запрос кода на ваш
        номер ваш код не отменяет; попытки считаются, после пяти неверных —
        429 `too_many_requests` (ревью 015). Номер не похож на телефон — 422
        `bad_phone`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, code]
              properties:
                phone: { type: string, example: '+79171234567' }
                code: { type: string, example: '4821' }
                device: { type: string, example: 'iPhone · Safari', description: подпись для экрана «Сессии и устройства» }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthTokens' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/Validation' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /auth/refresh:
    post:
      tags: [auth]
      security: []
      summary: Обновление access-token
      description: |
        Refresh одноразовый: при обмене старый гасится, выдаётся новый.
        Повторное предъявление уже погашенного — 401 `refresh_superseded`,
        признак кражи, и тогда гасятся ВСЕ сессии пользователя.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties: { refreshToken: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthTokens' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /auth/oauth/{provider}:
    get:
      tags: [auth]
      summary: OAuth-вход (VK, Yandex, Google, Telegram)
      parameters:
        - name: provider
          in: path
          required: true
          schema: { type: string, enum: [vk, yandex, google, telegram] }
      security: []
      responses:
        '302': { description: Редирект на провайдера }
        '501': { $ref: '#/components/responses/NotConfigured' }

  # ───────────────────────── WEDDINGS ─────────────────────────
  /weddings:
    get:
      tags: [weddings]
      summary: Мои свадьбы
      description: |
        Единственный способ найти свою свадьбу после переустановки приложения:
        идентификатор хранится только на устройстве, и с чистым localStorage
        восстановить его больше неоткуда. Отдаёт и те свадьбы, куда человека
        позвали помощником или координатором, — с его ролью в каждой.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/Wedding'
                    - type: object
                      properties:
                        role: { type: string, enum: [couple, helper, coordinator, vendor] }
    post:
      tags: [weddings]
      summary: Создать свадьбу (после квиза)
      description: |
        Город не найден в справочнике — 404 (ARB-4). Дата свадьбы вне
        диапазона «год назад … пять лет вперёд» — 422 `date_out_of_range`;
        несуществующий день вроде 30 февраля — 422 `bad_date`.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [partnerName, city]
              properties:
                partnerName: { type: string, example: Тимур }
                date: { type: string, format: date, example: '2027-06-14' }
                city: { $ref: '#/components/schemas/CityRef' }
                budgetTotal: { $ref: '#/components/schemas/Money' }  # example: 1500000
                guestsPlanned: { type: integer, example: 80 }
                style: { type: string, example: нежная классика }
                quizAnswers:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: Свадьба создана; создатель — `couple`
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Wedding' }
        '404':
          description: 'город не найден в справочнике'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: |
            `wedding_exists` — у пары уже есть живая свадьба (не отменена и
            не в архиве); вторая заводится только после её отмены или
            завершения. Тело ошибки несёт `weddingId` существующей в `details`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/Validation' }
  /weddings/{weddingId}:
    get:
      tags: [weddings]
      summary: Карточка свадьбы (данные для Home)
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Wedding' }
    patch:
      tags: [weddings]
      summary: Обновить (дата, город, бюджет, стиль)
      description: |
        Правка `date` — это ПЕРЕНОС: она проходит тот же путь, что
        `POST /weddings/{weddingId}/reschedule`, и тянет за собой занятость
        в календарях подрядчиков, сроки задач чек-листа, время блоков тайминга
        и час открытия чата дня X. Если кто-то из забронированной команды занят
        на новую дату — 409 `team_busy`, и не меняется ничего; дата уже
        занята у своего же подрядчика — 409 `date_taken`.

        Дата свадьбы принимается в диапазоне «год назад … пять лет вперёд»
        (решение владельца 2026-09-03); за его пределами — 422
        `date_out_of_range`. Несуществующий день вроде 30 февраля — 422 `bad_date`.
        Незнакомый `tz` (не из справочника IANA) — 422 `unknown_timezone`.
        Город не найден в справочнике — 404 (ARB-4).
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                date: { type: string, format: date }
                city: { $ref: '#/components/schemas/CityRef' }
                budgetTotal: { $ref: '#/components/schemas/Money' }
                guestsPlanned: { type: integer }
                style: { type: string }
                venue: { type: string, maxLength: 200 }
                tz: { type: string, maxLength: 64, description: 'явный пояс важнее пояса города' }
                inviteText: { type: string, maxLength: 2000, description: 'обращение пары в приглашении — его видит гость' }
                inviteThemeId:
                  type: integer
                  minimum: 0
                  maximum: 9
                  description: |
                    Сценарий оформления приглашения. Хранится у свадьбы, а не в
                    браузере пары: гость открывает приглашение со своего
                    устройства, и тема должна приехать к нему вместе с текстом.
                dressCode:
                  type: string
                  nullable: true
                  maxLength: 32
                  description: 'идентификатор палитры дресс-кода (План ч. 295) — по той же причине, что и тема; null — снять дресс-код'
                dressNote: { type: string, nullable: true, maxLength: 300, description: 'пожелание словами: «дамы — без белого»; null — убрать пожелание' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Wedding' }
        '404':
          description: 'город не найден в справочнике'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Validation' }
  /weddings/{weddingId}/members:
    get:
      tags: [weddings]
      summary: Команда свадьбы
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Member' }
  /weddings/{weddingId}/members/{userId}:
    patch:
      tags: [weddings]
      summary: Сменить роль участника (только couple)
      description: 'Последнюю пару из свадьбы убрать нельзя (`last_couple`, 409) — у свадьбы должен остаться хотя бы один couple.'
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: userId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role: { type: string, enum: [couple, helper, coordinator] }
      responses:
        '200': { description: OK }
        '409':
          description: '`last_couple` — последнюю пару из свадьбы убрать нельзя'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    delete:
      tags: [weddings]
      summary: Удалить участника
      description: 'Последнюю пару из свадьбы убрать нельзя (`last_couple`, 409).'
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: userId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Удалён }
        '409':
          description: '`last_couple` — последнюю пару из свадьбы убрать нельзя'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ───────────────────────── INVITES (команда) ─────────────────────────
  /weddings/{weddingId}/invites:
    post:
      tags: [invites]
      summary: Создать одноразовую ссылку-приглашение (7 дней)
      description: Фронт рисует QR по `url`. Код — человекочитаемый (ПАРА-XXXX, ДРУГ-XXXX, ПОДР-XXXX).
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role: { type: string, enum: [couple, helper, coordinator, vendor] }
                label: { type: string, example: 'Для Тимура' }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InviteLink' }
    get:
      tags: [invites]
      summary: Активные приглашения
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/InviteLink' }
  /invites/{code}:
    get:
      tags: [invites]
      summary: Просмотр приглашения (экран /join/:code)
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string, example: ДРУГ-7F3K }
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code: { type: string }
                  role: { type: string, enum: [couple, helper, coordinator, vendor] }
                  weddingTitle: { type: string, example: 'Алина ♥ Тимур' }
                  inviterName: { type: string }
                  expiresAt: { type: string, format: date-time }
        '410':
          description: '`gone` — истёк или отозван'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    delete:
      tags: [invites]
      summary: Отозвать приглашение
      security: [{ bearerAuth: [] }]
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Отозвано }
  /invites/{code}/accept:
    post:
      tags: [invites]
      summary: Принять приглашение (после регистрации/входа)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Присоединён к свадьбе
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Member' }
        '409':
          description: '`already_member` — уже в этой свадьбе'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '410':
          description: '`gone` — истёк, отозван или уже использован'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ───────────────────────── GEO ─────────────────────────
  /health:
    get:
      tags: [health]
      security: []
      summary: Жив ли процесс
      description: |
        Отвечает 200, пока процесс работает, и не ходит ни в базу, ни в Redis.
        По нему перезапускают контейнер. Ронять его из-за упавшей базы нельзя:
        приложение уйдёт в цикл перезапусков и не поднимется, когда база
        вернётся (RUNBOOK §1).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  uptime: { type: integer, description: 'секунд с запуска процесса' }

  /health/ready:
    get:
      tags: [health]
      security: []
      summary: Готов ли принимать трафик
      description: |
        503, если недоступна база или Redis — по нему балансировщик выводит
        машину из ротации. В теле видно, что именно упало.
      responses:
        '200':
          description: Готов
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Readiness' }
        '503':
          description: Не готов
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Readiness' }

  /legal/policy:
    get:
      tags: [legal]
      security: []
      summary: Действующая редакция оферты и политики
      description: |
        Отдаёт редакцию, под которой сервер сейчас принимает согласие.

        Без этого пути клиент обязан прислать `policyVersion` в
        `POST /users/me/consent`, а взять её ему негде: в контракте она
        встречалась ровно один раз — в теле запроса. Сервер сверяет
        присланное со своим значением и отказывает при расхождении, то есть
        единственным способом узнать редакцию было прислать неверную
        и разобрать текст ошибки.

        Цена отсутствия — не неудобство: смена текста политики поднимает
        `POLICY_VERSION`, развёрнутый фронт продолжает слать старую
        константу, согласие перестаёт приниматься, а без согласия закрыто
        всё (`requireConsent`). Ни один новый пользователь не завершает
        регистрацию, пока не выкатят фронт. Юридическое действие ломало
        вход (ERR-0114).

        Без входа намеренно: галочка согласия стоит на экране ДО того,
        как человек получил токены.

        Сам текст оферты и политики живёт в приложении — сервер отдаёт
        только редакцию, потому что только её он и проверяет.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [policyVersion]
                properties:
                  policyVersion:
                    type: string
                    example: '2026-09-02'
                    description: 'Значение, которое ждёт POST /users/me/consent'

  /geo/cities:
    get:
      tags: [geo]
      summary: Поиск городов (автокомплит CityPicker)
      description: |
        Источник — Яндекс Геокодер (`geocode-maps.yandex.ru/1.x/?kind=locality`) + собственная таблица райцентров.
        Поиск prefix-first, ё→е, минимум 2 символа. Ответ отсортирован: точный префикс → население.
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string, minLength: 2, example: сиб }
        - name: limit
          in: query
          schema: { type: integer, default: 12, maximum: 50 }
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/City' }
  /geo/nearest:
    get:
      tags: [geo]
      summary: Ближайший город по координатам (кнопка геолокации)
      parameters:
        - name: lat
          in: query
          required: true
          schema: { type: number, example: 54.7351 }
        - name: lon
          in: query
          required: true
          schema: { type: number, example: 55.9587 }
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/City' }

  # ───────────────────────── CATALOG ─────────────────────────
  /catalog/categories:
    get:
      tags: [catalog]
      summary: Категории подрядчиков (площадки, фото, декор…)
      description: |
        С `city` каждая категория несёт `vendorsCount` — сколько опубликованных
        анкет в этом городе (план миграции §2.7: экран `/search` держится на
        доводе «здесь есть из кого выбирать»); без `city` — по всей базе.
      parameters:
        - name: city
          in: query
          required: false
          schema: { type: string, maxLength: 80 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Category' }
  /catalog/vendors:
    get:
      tags: [catalog]
      summary: Каталог подрядчиков с фильтрами
      parameters:
        - name: q
          in: query
          schema: { type: string }
        - name: categoryId
          in: query
          schema: { type: string }
        - name: city
          in: query
          schema: { type: string, example: Уфа }
        - name: radiusKm
          in: query
          description: |
            Радиус выдачи в километрах от центра города `city` (координаты
            справочника городов, гаверсинус). 0 — только точное совпадение
            города; без параметра — 100 (фича 011: экран показывает и меняет
            его — «только город» · 50 · 100 · 300). У городов без координат
            радиус не считается — выдача по точному совпадению названия, и
            анкета из такого города попадает в чужую выдачу только по имени.
          schema: { type: integer, minimum: 0, maximum: 1000, default: 100 }
        - name: priceMin
          in: query
          description: Нижняя граница «цены от», в копейках.
          schema: { type: integer, minimum: 0 }
        - name: priceMax
          in: query
          schema: { type: integer, minimum: 0 }
        - name: date
          in: query
          description: |
            Дата свадьбы. Подрядчики, у которых она занята, из выдачи исчезают —
            иначе пара пишет тому, кто заведомо не сможет.
          schema: { type: string, format: date, example: '2027-06-14' }
        - name: ratingMin
          in: query
          schema: { type: number, minimum: 0, maximum: 5 }
        - name: hasVideo
          in: query
          description: Только анкеты с видео в портфолио.
          schema: { type: boolean }
        - name: sort
          in: query
          schema: { type: string, enum: [rating, price_asc, price_desc, popular], default: rating }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VendorPage' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '422':
          description: '`bad_date` — календарная дата в `date` не существует'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /catalog/vendors/{vendorId}:
    get:
      tags: [catalog]
      summary: Анкета подрядчика
      description: |
        Опубликованная анкета — любому вошедшему. Свою анкету владелец видит и
        НЕопубликованной (и заблокированной) — так он смотрит её «глазами пары»
        до публикации (фича 007); в ответе владельцу есть `published`/`blocked`.
        Чужая неопубликованная — 404, как и раньше: по адресу нельзя узнать,
        существует ли черновик.
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VendorDetail' }
        '404': { $ref: '#/components/responses/NotFound' }
  /catalog/vendors/{vendorId}/availability:
    get:
      tags: [catalog]
      summary: Занятость дат (для выбора даты брони)
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
        - name: month
          in: query
          schema: { type: string, example: '2027-06' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  busyDates:
                    type: array
                    items: { type: string, format: date }
                  holdDates:
                    type: array
                    items: { type: string, format: date }
        '404': { $ref: '#/components/responses/NotFound' }

  # ───────────────────────── FAVORITES ─────────────────────────
  /me/favorites:
    get:
      tags: [catalog]
      summary: Избранное пользователя
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Vendor' }
  /me/favorites/{vendorId}:
    put:
      tags: [catalog]
      summary: Добавить в избранное
      security: [{ bearerAuth: [] }]
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: OK }
    delete:
      tags: [catalog]
      summary: Убрать из избранного
      security: [{ bearerAuth: [] }]
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: OK }

  # ───────────────────────── BOOKINGS / SLOTS ─────────────────────────
  /weddings/{weddingId}/notes:
    get:
      tags: [wedding]
      summary: Заметки и идеи свадьбы
      description: |
        Заметки жили в `localStorage` одного телефона (фича 014, блокер №7 — решение
        владельца): теперь — на сервере, у свадьбы, свежие первыми. Видит и пишет вся
        команда свадьбы (пара, помощник, координатор): идеи — общее поле, как чат команды.
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Note' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [wedding]
      summary: Добавить заметку
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, minLength: 1, maxLength: 2000 }
      responses:
        '201':
          description: Добавлена
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Note' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Validation' }
  /weddings/{weddingId}/notes/{noteId}:
    delete:
      tags: [wedding]
      summary: Удалить заметку
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: noteId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Удалена }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /weddings/{weddingId}/slots:
    get:
      tags: [bookings]
      summary: "Слоты команды: 12 из шаблона (площадка, фотограф, видеограф, ведущий, флорист, кондитер, стилист, DJ, декоратор, транспорт, платье, кольца) плюс добавленные парой"
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Slot' }
    post:
      tags: [bookings]
      summary: Добавить слот категории в мозаику
      description: |
        Каталог знает 35 категорий, шаблон мозаики — 12: подрядчика из категории
        вне шаблона (аниматор, фейерверк, фотобудка…) было некуда забронировать
        (фича 014, хвост этапа 6). Слот заводится пустым, подпись — название
        категории, ставится в конец мозаики; дальше — обычная бронь
        `POST …/slots/{slotId}/book`. Слот той же категории уже есть — 409
        `slot_exists` с его идентификатором в `details.slotId`: второй слот одной
        категории мозаике не нужен, пара бронирует в существующий. Неизвестная
        категория — 422. Заводит пара; помощник и координатор — 403 (состав
        команды решает пара, как и бронь).
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [categoryId]
              properties:
                categoryId: { type: string, maxLength: 40 }
      responses:
        '201':
          description: Слот добавлен
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Slot' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409':
          description: '`slot_exists` — слот этой категории уже есть; `details.slotId` — какой'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/Validation' }
  /weddings/{weddingId}/slots/{slotId}/book:
    post:
      tags: [bookings]
      summary: Забронировать подрядчика в слот («Добавить в свадьбу»)
      description: |
        Обязательный `Idempotency-Key`: без него — 400 `idempotency_key_required`,
        длиннее 200 символов — 400 `idempotency_key_too_long`, тот же ключ на
        другой запрос — 409 `idempotency_key_reused`, тот же ключ ещё выполняется —
        409 `idempotency_in_progress`. Пакет не из справочника подрядчика —
        422 `unknown_package`.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: slotId
          in: path
          required: true
          schema: { type: string }
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string, maxLength: 200 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vendorId, price]
              properties:
                vendorId: { type: string }
                packageId: { type: string }
                price: { $ref: '#/components/schemas/Money' }  # example: 150000
      responses:
        '200':
          description: Слот заполнен; бюджет пересчитывается на бэкенде
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Slot' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409':
          description: '`slot_taken` — слот уже занят; `date_taken` — у подрядчика уже есть бронь на эту дату; `idempotency_key_reused`/`idempotency_in_progress` — см. описание'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/Validation' }
  /weddings/{weddingId}/slots/{slotId}/cancel:
    post:
      tags: [bookings]
      summary: Отменить бронь (слот → free, бюджет минус)
      description: |
        Идемпотентно по `Idempotency-Key`, как бронь и оплата: отмена освобождает
        дату у подрядчика и рассылает уведомления, повтор на плохой связи не
        должен делать этого дважды. Сервер требовал заголовок с этапа 4, а
        контракт его не называл (класс ERR-0038) — выправлено в v0.24. Без
        заголовка — 400 `idempotency_key_required`, длиннее 200 символов —
        400 `idempotency_key_too_long`.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: slotId
          in: path
          required: true
          schema: { type: string }
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string, maxLength: 128 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Slot' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409':
          description: '`bad_transition` — выполненная работа (`done`) не снимается; `already_cancelled` — уже отменена; `slot_empty` — слот и так пуст; `idempotency_key_reused`/`idempotency_in_progress` — см. описание'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /weddings/{weddingId}/slots/{slotId}/pay:
    post:
      tags: [bookings]
      summary: Оплата слота (доплата/полная)
      description: |
        Идемпотентно по `Idempotency-Key`. Статус → «Оплачено полностью».
        Эквайринга в MVP нет (План §3.2): запись в `payments` фиксирует факт,
        деньги ходят между парой и подрядчиком напрямую.

        Без `amount` записывается ОСТАТОК — цена минус уже оплаченное (возвраты
        с минусом, отменённые записи не считаются — та же формула, что `Deal.paid`);
        сделка, оплаченная целиком, — 409 `overpay`. Сумма сверх остатка — 409
        `overpay`; ноль — 422 `bad_amount`; сделка без цены — 409 `no_price`
        (ревью 015). Пустой слот — 409 `slot_empty`; слот без подтверждённой
        брони — 409 `not_booked`. Без заголовка — 400 `idempotency_key_required`,
        длиннее 200 символов — 400 `idempotency_key_too_long`, тот же ключ на
        другой запрос — 409 `idempotency_key_reused`, тот же ключ ещё
        выполняется — 409 `idempotency_in_progress`.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: slotId
          in: path
          required: true
          schema: { type: string }
        - name: Idempotency-Key
          in: header
          required: true
          description: |
            Ключ повтора. Без него повторное нажатие «Оплатить» на плохой связи
            заводит вторую запись об оплате.
          schema: { type: string, maxLength: 200 }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount: { $ref: '#/components/schemas/Money' }  # description: 'пусто = остаток до цены'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Slot' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Validation' }

  # ───────────────────────── BUDGET ─────────────────────────
  /weddings/{weddingId}/budget:
    get:
      tags: [budget]
      summary: Бюджет (статьи + автосуммы из слотов)
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Budget' }
  /weddings/{weddingId}/tips:
    get:
      tags: [wedding]
      summary: Подсказки Тиля по правилам (Бизнес-логика §3.14)
      description: |
        Три правила, считаются на сервере из данных свадьбы: дефицит категории
        (слот без брони, до свадьбы < 8 месяцев, свободных на дату анкет в городе
        ≤ 6), блокирующий слот (блок тайминга из шаблона зависит от пустого слота),
        лимит бюджета (категория обещана больше чем на 85 % плана). Пустой список —
        поводов нет. Внутри суммы — только паре (матрица §6). До 2026-09-18 правила
        жили на клиенте: порог 80 % по загруженной странице, остальных не было.
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Tip' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /weddings/{weddingId}/budget/items:
    post:
      tags: [budget]
      summary: Своя статья расхода
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, amount, categoryId]
              properties:
                title: { type: string }
                amount: { $ref: '#/components/schemas/Money' }
                categoryId: { type: string }
      responses:
        '201':
          description: Создана
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BudgetItem' }
  /weddings/{weddingId}/budget/items/{itemId}:
    delete:
      tags: [budget]
      summary: Удалить свою статью (×-кнопка)
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: itemId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Удалена }

  # ───────────────────────── GUESTS ─────────────────────────
  /weddings/{weddingId}/guests:
    get:
      tags: [guests]
      summary: Список гостей
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Guest' }
    post:
      tags: [guests]
      summary: Добавить гостя
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                plusOne: { type: boolean, default: false }
                group: { type: string, example: 'Родня невесты' }
                phone: { type: string, maxLength: 32, description: 'для напоминаний по SMS (POST …/guests/remind)' }
      responses:
        '201':
          description: Создан
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Guest' }
  /weddings/{weddingId}/guests/{guestId}:
    patch:
      tags: [guests]
      summary: Обновить гостя (статус RSVP циклом yes→no→pending)
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: guestId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                plusOne: { type: boolean }
                status: { type: string, enum: [yes, no, pending] }
                tableId: { type: string, nullable: true }
                group: { type: string, nullable: true }
                phone: { type: string, nullable: true, maxLength: 32, description: 'null — стереть номер' }
                diet: { type: string, nullable: true, enum: [null, vegetarian, vegan, halal, kosher, gluten_free, other] }
                dietNote: { type: string, nullable: true, maxLength: 300 }
                transfer: { type: string, nullable: true, enum: [null, need, own] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Guest' }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      tags: [guests]
      summary: Удалить гостя
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: guestId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Удалён }
  /weddings/{weddingId}/tables:
    get:
      tags: [guests]
      summary: Рассадка (столы + гости)
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Table' }
    post:
      tags: [guests]
      summary: Добавить стол
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, example: 'Стол 7' }
                capacity: { type: integer, minimum: 1, maximum: 100, default: 8 }
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Table' }
        '422': { $ref: '#/components/responses/Validation' }

  /weddings/{weddingId}/tables/{tableId}:
    patch:
      tags: [guests]
      summary: Переименовать стол или изменить вместимость
      description: |
        До фичи 005 стол нельзя было ни переименовать, ни убрать — промах по
        «Добавить стол» оставался навсегда. Вместимость меньше числа уже
        посаженных — 409 `table_full`.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: tableId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, maxLength: 60 }
                capacity: { type: integer, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Table' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Validation' }
    delete:
      tags: [guests]
      summary: Удалить стол
      description: 'Гости стола остаются в списке без стола (tableId становится null).'
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: tableId, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: Удалён }
        '404': { $ref: '#/components/responses/NotFound' }

  # ───────────────────────── GUEST RSVP (публично) ─────────────────────────
  /rsvp/{guestToken}:
    get:
      tags: [guests]
      summary: Публичная страница гостя (из ссылки в приглашении)
      parameters:
        - name: guestToken
          in: path
          required: true
          schema: { type: string }
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  guestName: { type: string }
                  wedding: { $ref: '#/components/schemas/WeddingPublic' }
                  status: { type: string, enum: [yes, no, pending] }
                  # Свой ответ целиком: гость видит, что уже сказал (v0.25 —
                  # аудит, блок 5). Без этого форма после «приду» не могла
                  # показать ни +1, ни еду, ни трансфер, которые он выбрал.
                  plusOne: { type: boolean }
                  diet: { type: string, nullable: true, enum: [null, vegetarian, vegan, halal, kosher, gluten_free, other] }
                  dietNote: { type: string, nullable: true }
                  transfer: { type: string, nullable: true, enum: [null, need, own] }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [guests]
      summary: Ответ гостя (RSVP)
      description: |
        `plusOne: true` при уже забронированном автобусе может не поместиться
        в его границу мест — тогда 409 `bus_full`, ответ RSVP не сохраняется.
      parameters:
        - name: guestToken
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [yes, no] }
                plusOne: { type: boolean }
                comment: { type: string }
                diet: { type: string, nullable: true, enum: [null, vegetarian, vegan, halal, kosher, gluten_free, other] }
                dietNote: { type: string, maxLength: 300 }
                transfer: { type: string, enum: [need, own] }
      security: []
      responses:
        '200': { description: Принято }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: '`bus_full` — мест в автобусе не осталось'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /weddings/{weddingId}/guests/import:
    post:
      tags: [guests]
      summary: Завести гостей списком
      description: |
        Пара вставляет список из заметок или таблицы; экран разбирает строки
        (имя, телефон, «+1») и показывает предпросмотр, сервер принимает уже
        разобранные строки и заводит их одной транзакцией (фича 008, План
        §20.1 экран 29). Дубликаты пропускаются, а не обновляются: совпадение
        имени (без учёта регистра и лишних пробелов) или телефона с уже
        существующим гостем свадьбы или с другой строкой того же запроса —
        `skipped` с причиной `duplicate`. Телефон нормализуется к `+7XXXXXXXXXX`
        (принимаются `8…`, `7…`, `+7…`); не распознанный — `invalid`, строка не
        заводится, остальные — заводятся. Повтор того же списка добавляет ноль.
        Права — как у `POST …/guests` (вся команда свадьбы).
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [guests]
              properties:
                guests:
                  type: array
                  minItems: 1
                  maxItems: 300
                  items:
                    type: object
                    required: [name]
                    properties:
                      name: { type: string, minLength: 2, maxLength: 120 }
                      phone: { type: string, maxLength: 32 }
                      plusOne: { type: boolean, default: false }
                      group: { type: string, maxLength: 60 }
      responses:
        '201':
          description: Список заведён; что пропущено — в `skipped`
          content:
            application/json:
              schema:
                type: object
                required: [created, skipped]
                properties:
                  created:
                    type: array
                    items: { $ref: '#/components/schemas/Guest' }
                  skipped:
                    type: array
                    items:
                      type: object
                      required: [index, name, reason]
                      properties:
                        index: { type: integer, description: 'позиция строки в присланном списке, с нуля' }
                        name: { type: string }
                        reason: { type: string, enum: [duplicate, invalid] }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Validation' }
  /weddings/{weddingId}/guests/remind:
    post:
      tags: [guests]
      summary: Напомнить гостям, которые не ответили
      description: |
        Одно СМС каждому, кто не ответил на приглашение и у кого есть телефон.
        Раньше пара обходила список руками — на полусотне гостей это вечер.

        **Только паре** (фича 005): рассылка тратит SMS-лимит свадьбы,
        помощнику и координатору — 403. Телефоны гостей видит тоже только
        пара — остальным в `Guest` приходит `hasPhone`.

        **Кому не уходит и почему.** Гостю, чья личная ссылка уже открыта,
        напоминание отсюда не идёт: новая ссылка гасит его токен, а вместе с
        ним теряется всё, что он выбрал — резерв подарка в том числе (§9).
        Такому гостю пара выдаёт ссылку поштучно, осознанно.

        **Не чаще раза в сутки.** Рассылка стоит денег и приходит чужим людям.
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: Отправлено
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent: { type: integer, description: 'сколько сообщений ушло' }
                  skippedNoPhone: { type: integer, description: 'не ответили, но телефона нет' }
                  skippedLinkUsed:
                    type: integer
                    description: 'не ответили, но живой личной ссылки нет — открыта или не выдавалась; им ссылку выдают поштучно'
                  failed:
                    type: integer
                    description: 'телефон и ссылка есть, а SMS не ушла: отказ провайдера или предел рассылки (300 за нажатие; остальные — в следующие сутки)'
        '403': { $ref: '#/components/responses/Forbidden' }
        '429':
          description: '`too_often` — не чаще раза в сутки; заголовка `Retry-After` нет'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /weddings/{weddingId}/guests/{guestId}/invite-link:
    post:
      tags: [guests]
      summary: Выдать (или перевыпустить) одноразовую ссылку-приглашение гостю
      description: >
        Только роль couple. Список гостей ведёт вся команда, но ссылка — это
        удостоверение: кто её выдаёт, тот может обменять её сам и дальше
        действовать от имени гостя. Помощнику такие права не нужны
        (решение владельца 2026-09-03).
        Возвращает ссылку вида https://tili-tili.ru/i/{shareCode}. Код одноразовый:
        при первом открытии он гаснет и гость получает персональный guestToken в свой
        браузер. Пара сырой токен не видит. Повторный вызов гасит прежний код и выдаёт
        новый — на случай «гость потерял ссылку». Вместе с кодом гаснет и САМ ТОКЕН:
        иначе пара, которая ссылку и выдаёт, обменяла бы её сама и увидела на гостевой
        странице, какой подарок этот гость зарезервировал (§9). Резервы прежнего токена
        освобождаются — подарок не должен остаться занят мёртвой ссылкой.
      parameters:
        - { name: weddingId, in: path, required: true, schema: { type: string } }
        - { name: guestId, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [url, expiresAt]
                properties:
                  url: { type: string, example: 'https://tili-tili.ru/i/7F3K-QX9M' }
                  expiresAt: { type: string, format: date-time, description: '30 дней или дата свадьбы + 30 дней — что позже' }

  /invite/{shareCode}:
    get:
      tags: [guests]
      security: []
      summary: Обменять одноразовый код на персональный токен гостя
      description: >
        Вызывается браузером гостя при переходе по ссылке. Код гасится в этот момент.
        Токен возвращается один раз и дальше живёт в localStorage гостя. Повторный вызов
        с тем же кодом в течение 10 минут после первого отдаёт тот же токен (ответ мог не
        дойти по мобильной сети — D3-07), позже — 410; 410 также у истёкшего и
        перевыпущенного парой кода и у кода отменённой или убранной свадьбы.
      parameters:
        - { name: shareCode, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [guestToken, guestName, wedding]
                properties:
                  guestToken: { type: string }
                  guestName: { type: string }
                  wedding: { $ref: '#/components/schemas/WeddingPublic' }
        '410':
          description: '`gone` — код уже использован или истёк: попросите пару выслать ссылку заново'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ───────────────────────── TASKS / CHECKLIST ─────────────────────────
  /weddings/{weddingId}/tasks:
    get:
      tags: [tasks]
      summary: Чек-лист (шаблонные + свои задачи)
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: mine
          in: query
          schema: { type: boolean, default: false }
          description: Только задачи текущего пользователя в этой свадьбе; права раздела не меняются.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Task' }
    post:
      tags: [tasks]
      summary: Своя задача
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TaskCreate' }
      responses:
        '201':
          description: Создана
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
        '422':
          description: Неверная дата, период или ответственный; относительная точная дата без даты свадьбы.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /weddings/{weddingId}/tasks/{taskId}:
    patch:
      tags: [tasks]
      summary: Отметить/изменить задачу
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: taskId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TaskPatch' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
        '404':
          description: Задача не найдена в доступной свадьбе.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Неверная дата или ответственный; планирование задач плана Б не поддерживается.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    delete:
      tags: [tasks]
      summary: Удалить свою задачу
      description: 'Системную задачу (заведённую сервером, не парой) удалить нельзя — 409 `system_task`.'
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - name: taskId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Удалена }
        '409':
          description: '`system_task` — системную задачу удалить нельзя'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ───────────────────────── CHATS ─────────────────────────
  /chats:
    get:
      tags: [chats]
      summary: Список чатов пользователя
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Chat' }
  /chats/{chatId}/messages:
    get:
      tags: [chats]
      summary: История сообщений
      security: [{ bearerAuth: [] }]
      parameters:
        - name: chatId
          in: path
          required: true
          schema: { type: string }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Message' }
                  nextCursor: { type: string, nullable: true }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '423':
          description: '`wedding_date_unknown` — у свадьбы ещё нет даты, окно чата не считается; `chat_not_open_yet` — окно чата ещё не открылось'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    post:
      tags: [chats]
      summary: Отправить сообщение
      security: [{ bearerAuth: [] }]
      parameters:
        - name: chatId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string }
                attachmentUrl: { type: string }
      responses:
        '201':
          description: Отправлено
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409':
          description: '`chat_closed` — чат своего подрядчика закрыт: сделка отменена, писать некому (переписка остаётся паре для чтения)'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '423':
          description: '`wedding_date_unknown` — у свадьбы ещё нет даты, окно чата не считается; `chat_not_open_yet` — окно чата ещё не открылось'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429':
          description: |
            Предел исчерпан: `cold_outreach_limit` — непроверенный подрядчик начал
            за день больше переписок, чем разрешено (§18.2); `tilly_daily_limit` —
            пара задала Тилю за сутки (по поясу свадьбы) больше реплик, чем
            `Chat.tilly.limitPerDay` (План §18: 50 в день). Заголовка Retry-After
            нет — счётчик сбрасывается в полночь по поясу места, и экран говорит
            это словами сервера. Реплика не сохраняется.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /chats/{chatId}/ws:
    get:
      tags: [chats]
      summary: Живой канал чата (WebSocket)
      description: |
        Апгрейд соединения до WebSocket. Сообщения и «печатает…» приходят
        событиями `{ type, chatId, actorId, … }`; отправка по-прежнему
        обычным POST — канал только доставляет.

        Токен доступа идёт СТРОКОЙ ЗАПРОСА, а не заголовком: браузерный
        WebSocket заголовки ставить не умеет. Поэтому он маскируется в логах
        наравне с гостевыми токенами.

        Отказ приходит внутри соединения (`{ type: 'error', status, code }`)
        и закрывает его кодом 4000+status: молча оборвать рукопожатие значило
        бы «сеть барахлит» вместо «ссылка устарела», и клиент переподключался
        бы бесконечно.

        Если канал недоступен, клиент опрашивает историю раз в 30 секунд —
        штатный запасной путь §13.4.

        Коды закрытия — тем же пространством, что и обычные ответы, только
        4000+status: `token_expired` → 4401, `forbidden`/`vendor_blocked` →
        4403, `not_found` → 4404, `wedding_date_unknown`/`chat_not_open_yet` →
        4423. Без апгрейда до WebSocket — 426 `upgrade_required`.
      parameters:
        - name: chatId
          in: path
          required: true
          schema: { type: string }
        - name: token
          in: query
          required: true
          description: Токен доступа. В заголовке его передать нельзя — так устроен браузерный WebSocket.
          schema: { type: string }
      security: []
      responses:
        '101': { description: Соединение установлено }
        '426': { description: '`upgrade_required` — нужен апгрейд до WebSocket' }
  /chats/{chatId}/typing:
    post:
      tags: [chats]
      summary: Индикатор «печатает…» (WebSocket-fallback)
      description: |
        Запасной путь для клиента без живого канала: он сообщает о наборе
        обычным запросом, а событие уходит подписчикам тем же каналом, что
        и сообщения. Ничего не сохраняется — «печатает» живёт секунды.
      security: [{ bearerAuth: [] }]
      parameters:
        - name: chatId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: OK }
        '403': { $ref: '#/components/responses/Forbidden' }
        '423':
          description: '`wedding_date_unknown` — у свадьбы ещё нет даты, окно чата не считается; `chat_not_open_yet` — окно чата ещё не открылось'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /chats/vendor/{vendorId}:
    post:
      tags: [chats]
      summary: Открыть/создать чат с подрядчиком («Написать»)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Chat' }

  # ───────────────────────── VENDOR-СТОРОНА ─────────────────────────
  /vendor/profile:
    get:
      tags: [vendor]
      summary: Моя анкета подрядчика
      description: |
        Анкеты ещё нет — 404: по нему кабинет показывает «Анкеты ещё нет» с кнопкой
        заполнить. Остальные пути `/vendor/*` без анкеты отвечают 403 (ревью 015).
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VendorDetail' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [vendor]
      summary: "Создать/обновить анкету (мастер: категория → пакеты → город → публикация)"
      description: |
        Категория или город не из справочника — 404 (ARB-4). Несколько
        городов подходят под название — 422 `city_ambiguous`; портфолио с
        видео без длительности — 422 `video_duration_required`; видео длиннее
        предела — 422 `video_too_long`.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VendorUpsert' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VendorDetail' }
        '404':
          description: 'категория или город не найдены в справочнике'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/Validation' }
  /vendor/profile/publish:
    post:
      tags: [vendor]
      summary: Опубликовать анкету (модерация → live)
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [moderation, live] }
        '409': { $ref: '#/components/responses/Conflict' }
  /vendor/calendar:
    get:
      tags: [vendor]
      summary: Занятость (календарь подрядчика)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: month
          in: query
          schema: { type: string, example: '2027-06' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date: { type: string, format: date }
                    status: { type: string, enum: [free, busy, hold] }
                    source:
                      type: string
                      enum: [manual, deal]
                      nullable: true
                      description: |
                        Кто закрыл дату: сам подрядчик (`manual`) или сделка (`deal`).
                        Без этого поля кабинет не может отличить одно от другого: он
                        предлагает снять занятость с забронированного дня, сервер
                        отвечает 204 и ничего не меняет — тап выглядит потерянным.

                        Пусто у `hold`: мягкая бронь выводится из состояния сделки и
                        строки в календаре не имеет.
  /vendor/calendar/busy:
    post:
      tags: [vendor]
      summary: Отметить даты занятыми/свободными
      description: 'Календарная дата не существует — 422 `bad_date`.'
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dates, status]
              properties:
                dates:
                  type: array
                  items: { type: string, format: date }
                status: { type: string, enum: [free, busy] }
      responses:
        '204': { description: OK }
        '422': { $ref: '#/components/responses/Validation' }
  /vendor/leads:
    get:
      tags: [vendor]
      summary: Входящие лиды
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Lead' }
  /vendor/leads/{leadId}:
    post:
      tags: [vendor]
      summary: "Действие с лидом: ответить / холд 72ч / отклонить / вернуть"
      description: |
        `text` обязателен при `action=reply` — без него 422 `text_required`;
        текст при action, для которого он не по делу, — 422 `text_not_allowed`.
        Уходит той же дверью, что `POST /chats/{chatId}/messages`:
        заблокированному подрядчику — 403 `vendor_blocked`, непроверенному
        сверх предела холодных обращений — 429 `cold_outreach_limit`. Лид уже
        выигран (`lead_won`) — 409: решение принято, действие не применяется.
      security: [{ bearerAuth: [] }]
      parameters:
        - name: leadId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [reply, hold, decline, reopen] }
                text:
                  type: string
                  minLength: 1
                  maxLength: 4000
                  description: |
                    Сообщение паре в чат заявки. Обязателен при `action=reply`;
                    при `hold`/`decline`/`reopen` — по желанию: причина отказа
                    или холда (§3.13, R-48).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Lead' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409':
          description: '`lead_won` — лид уже выигран, действие не применяется'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/Validation' }
        '429':
          description: '`cold_outreach_limit` — непроверенный подрядчик исчерпал предел холодных обращений за день'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /vendor/reviews:
    get:
      tags: [vendor]
      summary: Отзывы на меня
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Review' }
  /vendor/reviews/{reviewId}/reply:
    post:
      tags: [vendor]
      summary: Ответить на отзыв
      security: [{ bearerAuth: [] }]
      parameters:
        - name: reviewId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties: { text: { type: string } }
      responses:
        '200': { description: OK }
  /vendor/deals:
    get:
      tags: [vendor]
      summary: Сделки подрядчика
      description: |
        Экран «Сделки» кабинета: пара, дата, сумма, состояние. Заявка
        и сделка — разные вещи: у заявки нет ни суммы, ни мягкой брони,
        и показывать одно вместо другого нечестно.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  expected:
                    allOf: [{ $ref: '#/components/schemas/Money' }]
                    description: 'остаток по ОТКРЫТЫМ броням (booked, paid_deposit): цена минус платежи'
                  shortfall:
                    allOf: [{ $ref: '#/components/schemas/Money' }]
                    description: |
                      Недоплата по ЗАВЕРШЁННЫМ (done) сделкам: работа сдана, а
                      цена не закрыта платежами. В «ожидается» не входит — это
                      предмет спора, а не ожидания (решение владельца, В7).
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        coupleName: { type: string }
                        weddingDate: { type: string, format: date, nullable: true }
                        price:
                          allOf: [{ $ref: '#/components/schemas/Money' }]
                          nullable: true
                        packageName:
                          type: string
                          nullable: true
                          description: 'пакет, по которому бронировали; null — без пакета или пакет снят с витрины'
                        state: { type: string, enum: [candidate, contacted, negotiating, booked, paid_deposit, done, cancelled] }
                        paid:
                          allOf: [{ $ref: '#/components/schemas/Money' }]
                          description: 'внесено платежами (те же `payments`, что видит пара; возвраты с минусом) — карточка сделки, План §8.2'
                        chatId:
                          type: string
                          nullable: true
                          description: 'чат с парой этой свадьбы (`kind: vendor`); null — пара ещё не писала'
                        contract:
                          type: object
                          nullable: true
                          description: 'последняя редакция договора по сделке — только заголовок, без полей сторон'
                          properties:
                            id: { type: string }
                            templateCode: { type: string }
                            version: { type: integer }
                            status: { type: string, enum: [draft, sent, signed] }
                            createdAt: { type: string, format: date-time }
                        holdUntil: { type: string, format: date-time, nullable: true }
                        busRoutes:
                          type: array
                          description: |
                            Маршруты для гостей, привязанные к этой сделке (перевозчик,
                            фича 006): сколько машин и мест готовить. Только счётчики —
                            имён и телефонов гостей перевозчик не получает (152-ФЗ).
                            У сделок не из слота «Транспорт» — пустой список.
                          items:
                            type: object
                            properties:
                              id: { type: string }
                              name: { type: string }
                              from: { type: string, nullable: true }
                              time: { type: string, nullable: true }
                              seats: { type: integer }
                              taken: { type: integer, description: 'занято персон' }
  /vendor/updates:
    get:
      tags: [vendor]
      summary: Обновления от пар
      description: >
        §13.2: изменения рассадки, опроса меню, тайминга и гостевых счётчиков
        по свадьбам, где сделка подрядчика забронирована. Не уведомление,
        а короткий список того, что надо учесть; закрывается подтверждением.
        Правки одного вида по одной свадьбе сливаются в одну строку, пока
        её не подтвердили: рассадку двигают мышью, и каждое движение — не новость.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string }
                    wedding: { type: string }
                    weddingDate: { type: string, format: date, nullable: true }
                    kind: { type: string, enum: [seating, menu, timeline, guests, transport], description: '`transport` — маршрут для гостей заведён или изменён по сделке перевозчика (фичи 006/014)' }
                    text: { type: string }
                    createdAt: { type: string, format: date-time }
                    ackAt: { type: string, format: date-time, nullable: true }

  /vendor/updates/{updateId}/ack:
    post:
      tags: [vendor]
      summary: Подтвердить получение обновления
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: updateId, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: Учтено; повтор не меняет времени }
        '404': { $ref: '#/components/responses/NotFound' }

  /vendor/analytics:
    get:
      tags: [vendor]
      summary: Аналитика анкеты (просмотры → лиды → сделки)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: period
          in: query
          schema: { type: string, enum: [month, season, year], default: season }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  period: { type: string, enum: [month, season, year] }
                  revenue: { $ref: '#/components/schemas/Money' }
                  revenueDeltaPct:
                    type: number
                    nullable: true
                    example: 38
                    description: |
                      Прирост к прошлому такому же периоду. `null`, если
                      прошлого периода не было: делить на ноль нечем, а «+100 %»
                      от нуля — это выдумка.
                  funnel:
                    type: object
                    properties:
                      views: { type: integer, example: 1240 }
                      contacts: { type: integer, example: 96 }
                      leads: { type: integer, example: 34 }
                      deals: { type: integer, example: 8 }

  # ───────────────────────── REVIEWS (пара → подрядчик) ─────────────────────────
  /catalog/vendors/{vendorId}/reviews:
    get:
      tags: [catalog]
      summary: Отзывы о подрядчике
      description: |
        Публичная лента с пометкой источника (§15). Отзыв пары идёт
        с подтверждённой сделкой, отзыв гостя — с бейджем «Гость свадьбы»:
        у пары договор, у гостя впечатление, и смешивать их нельзя.

        Скрытые модератором отзывы не отдаются и в рейтинг не входят.
      security: [{ bearerAuth: [] }]
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
        - name: source
          in: query
          schema: { type: string, enum: [couple, guest, all], default: all }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Review' } }
                  nextCursor: { type: string, nullable: true }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [catalog]
      summary: Оставить отзыв (только после завершённой сделки)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: vendorId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rating, text]
              properties:
                rating: { type: integer, minimum: 1, maximum: 5 }
                text: { type: string }
      description: |
        Право на отзыв — завершённая (`done`) сделка этой пары с подрядчиком, ещё без
        отзыва и не старше 14 дней после завершения: берётся свежайшая такая
        (у фотографа с двумя слотами — вторая сделка получает свой отзыв, ревью 015).
        Нет ни одной — 403; все завершённые уже с отзывом — 409 `review_exists`;
        подрядчика с таким идентификатором нет — 404.
      responses:
        '201': { description: Создан }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  # ───────────────────────── NOTIFICATIONS ─────────────────────────
  /notifications:
    get:
      tags: [notifications]
      summary: Уведомления пользователя
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Notification' }
  /notifications/{id}/read:
    post:
      tags: [notifications]
      summary: Отметить прочитанным
      security: [{ bearerAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: OK }
  /notifications/read-all:
    post:
      tags: [notifications]
      summary: Отметить прочитанными все
      description: |
        «Прочитать все» одним запросом (план миграции §2.3): до этого экран
        обходил список поштучно — сотня уведомлений, сотня запросов на один тап,
        и обрыв посередине оставлял половину непрочитанной. Повтор пустой:
        время прочтения не двигается.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  marked: { type: integer, description: 'сколько уведомлений стало прочитанными этим запросом' }
        '401': { $ref: '#/components/responses/Unauthorized' }


  # ───────────────────────── WISHLIST (пара) ─────────────────────────
  /weddings/{weddingId}/wishlist:
    get:
      tags: [wishlist]
      summary: Список желаний пары
      description: Пара видит статус подарка, но НИКОГДА не видит, кто его зарезервировал (§9).
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  gifts: { type: array, items: { $ref: '#/components/schemas/Gift' } }
                  funds: { type: array, items: { $ref: '#/components/schemas/Fund' } }
                  antiGifts: { type: array, items: { type: string } }
    post:
      tags: [wishlist]
      summary: Добавить желание
      security: [{ bearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/WeddingId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, price]
              properties:
                name: { type: string }
                price: { $ref: '#/components/schemas/Money' }
                group: { type: boolean, description: можно скидываться }
                icon: { type: string, maxLength: 16 }
                desc: { type: string }
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Gift' }
  /weddings/{weddingId}/wishlist/{giftId}:
    patch:
      tags: [wishlist]
      summary: Изменить желание
      description: 'Новая цена ниже уже собранной суммы — 409 `gift_price_below_funded`.'
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: giftId, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                price: { $ref: '#/components/schemas/Money' }
                icon: { type: string, maxLength: 16 }
                desc: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Gift' }
        '409':
          description: '`gift_price_below_funded` — новая цена ниже уже собранной суммы'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    delete:
      tags: [wishlist]
      summary: Удалить желание
      description: 'Запрещено, если в подарок уже сложились — 409 `gift_has_contributions`, как и у фонда.'
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: giftId, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: OK }
        '409':
          description: '`gift_has_contributions` — в подарок уже сложились'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ───────────────────────── WISHLIST (гость по ссылке) ─────────────────────────
  /gifts/{guestToken}:
    get:
      tags: [wishlist-guest]
      summary: Список подарков глазами гостя
      description: Без авторизации, по коду приглашения. Занятые подарки помечены, но кем — не видно.
      parameters: [{ $ref: '#/components/parameters/GuestToken' }]
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  gifts: { type: array, items: { $ref: '#/components/schemas/Gift' } }
                  funds: { type: array, items: { $ref: '#/components/schemas/Fund' } }
                  antiGifts: { type: array, items: { type: string } }
                  fairPrice:
                    allOf: [{ $ref: '#/components/schemas/Money' }]
                    nullable: true
                    description: |
                      Деликатный ориентир «банкет на гостя»: расходы по строке
                      «Площадка и кейтеринг», делённые на число гостей. Пока
                      бюджет пуст или список гостей пуст — null, а не ноль
                      и не выдуманное число.
        '401': { $ref: '#/components/responses/Unauthorized' }
  /gifts/{guestToken}/{giftId}/reserve:
    post:
      tags: [wishlist-guest]
      summary: Зарезервировать подарок
      description: |
        Атомарно: резерв проходит только если подарок свободен (conditional update
        либо unique constraint). Второй гость получает 409 `gift_reserved` —
        подарить дважды нельзя. Токен гостя сохраняется, но паре не отдаётся
        никогда.

        Повтор тем же токеном — тот же 200: гость нажал дважды, подарок его.
        Подарок, в который уже сложились (`gift_has_contributions`), зарезервировать
        нельзя: иначе деньги участников складчины повисают на чужом резерве.
        Обязательный `Idempotency-Key`: без него — 400 `idempotency_key_required`,
        длиннее 200 символов — 400 `idempotency_key_too_long`. Предел резервов
        с одного токена — `reservation_limit` (429, без `Retry-After`).
      parameters:
        - { $ref: '#/components/parameters/GuestToken' }
        - { name: giftId, in: path, required: true, schema: { type: string } }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      security: []
      responses:
        '200': { description: Зарезервировано }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: '`gift_reserved` — уже зарезервирован другим гостем; `gift_has_contributions` — в подарок уже сложились'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/QuotaExceeded' }
    delete:
      tags: [wishlist-guest]
      summary: Снять свой резерв
      description: Только по тому же гостевому токену, которым резерв был поставлен.
      parameters:
        - { $ref: '#/components/parameters/GuestToken' }
        - { name: giftId, in: path, required: true, schema: { type: string } }
      security: []
      responses:
        '204': { description: OK }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /gifts/{guestToken}/{giftId}/fund:
    post:
      tags: [wishlist-guest]
      summary: Внести часть суммы (складчина)
      description: |
        Только для подарков с `group: true` (иначе 409 `gift_not_group`). Сумма
        прибавляется к `funded` до `price`; взнос, переваливающий за цену
        (`gift_overfunded`), или закрытый подарок (`gift_closed`, `funded == price`),
        или уже зарезервированный кем-то (`gift_reserved`) — 409: принять
        больше нужного значит взять с гостя лишнее. Обязательный
        `Idempotency-Key`: без него — 400 `idempotency_key_required`, длиннее
        200 символов — 400 `idempotency_key_too_long`, тот же ключ на другой
        запрос — 409 `idempotency_key_reused`. Предел взносов с одного токена —
        `contribution_limit` (429, без `Retry-After`).
      parameters:
        - { $ref: '#/components/parameters/GuestToken' }
        - { name: giftId, in: path, required: true, schema: { type: string } }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { $ref: '#/components/schemas/Money' }
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Gift' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: '`gift_not_group` — не складчина; `gift_overfunded` — сумма выше цены; `gift_closed` — уже собрано; `gift_reserved` — занят; `idempotency_key_reused` — тот же ключ на другой запрос'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/QuotaExceeded' }
  /gifts/{guestToken}/funds/{fundId}:
    post:
      tags: [wishlist-guest]
      summary: Перевод в денежный фонд
      description: |
        Обязательный `Idempotency-Key`: без него — 400 `idempotency_key_required`,
        длиннее 200 символов — 400 `idempotency_key_too_long`, тот же ключ на
        другой запрос — 409 `idempotency_key_reused`. Предел взносов с одного
        токена — `contribution_limit` (429, без `Retry-After`).
      parameters:
        - { $ref: '#/components/parameters/GuestToken' }
        - { name: fundId, in: path, required: true, schema: { type: string } }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { $ref: '#/components/schemas/Money' }
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Fund' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: '`idempotency_key_reused` — тот же ключ на другой запрос'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/QuotaExceeded' }

  # ───────────────────────── СВОИ ПОДРЯДЧИКИ (§11) ─────────────────────────
  /weddings/{weddingId}/slots/{slotId}/external:
    post:
      tags: [bookings]
      summary: Добавить своего подрядчика (не из каталога)
      description: |
        Пара нашла исполнителя сама. Профиля в каталоге нет, но слот, бюджет
        и тайминг он занимает наравне с каталожным. Слот уже занят — 409
        `slot_taken`.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/WeddingId' }
        - { name: slotId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vendorName, price]
              properties:
                vendorName: { type: string }
                price: { $ref: '#/components/schemas/Money' }
                phone: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Slot' }
        '409':
          description: '`slot_taken` — слот уже занят'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/Validation' }
    delete:
      tags: [bookings]
      summary: Удалить своего подрядчика
      description: |
        Отменяет сделку той же единственной дверью `cancelDeal()`, что и
        отмена брони слота, `PATCH /deals` и отмена свадьбы (F1,
[...]
